/*
* @package      Style for TM Header Account Block
* @description  This section holds specific style redeclarations for
*               TM Header Account Block
*/
#_desktop_user_info {
  position: relative;
  float: right;
}
#_desktop_user_info div.current {
  border-right: none;
}
#_desktop_user_info div.current a {
  text-decoration: none;
}
#_desktop_user_info .header-login-content {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 99;
}
#_desktop_user_info .header-login-content #create_header_account_error {
  padding: 8px;
}

/*
* @section      Style for login wrapper
* @description  This section holds specific style redeclarations for
*               login content wrapper
*/
.header-login-content {
  padding: 40px;
  margin: 0;
  background: #f7f7f7;
  color: #525252;
}
.header-login-content .form-control-comment {
  padding-top: 0;
}
.header-login-content li {
  margin: 0;
  padding: 0;
}
.header-login-content li.user-data {
  overflow: hidden;
}
.header-login-content li.user-data img {
  float: left;
  margin-bottom: 18px;
  margin-right: 20px;
}
.header-login-content li.user-data p {
  font: 600 18px/25px "Open Sans", Helvetica, Arial, sans-serif;
}
.header-login-content li.user-data p span {
  display: block;
  white-space: nowrap;
}
.header-login-content li ul {
  margin: 0 0 16px;
}
.header-login-content li ul li {
  display: block;
  overflow: hidden;
  font: 600 14px/25px "Open Sans", Helvetica, Arial, sans-serif;
}
.header-login-content li ul li a {
  color: #525252;
}
.header-login-content li ul li a:hover {
  color: #000000;
}
.header-login-content li ul li a i {
  display: none;
}
.header-login-content li.onecolumn {
  min-width: 205px;
}
.header-login-content li.twocolumns {
  min-width: 405px;
}
.header-login-content li.twocolumns > ul {
  width: 50%;
  float: left;
}
.header-login-content:not(.is-logged) > li {
  width: 275px;
}
.header-login-content img {
  max-width: 100%;
}
.header-login-content .form-group {
  margin-bottom: 14px;
}
.header-login-content .form-group label {
  font: 600 14px/20px "Open Sans", Helvetica, Arial, sans-serif;
  margin-bottom: 0;
}
.header-login-content .form-group label sup {
  color: #f13340;
}
.header-login-content .form-group input {
  height: 40px;
  font-size: 14px;
  line-height: 38px;
  background-position: 98% 12px;
}

.header-login-content .form-group .input-group .btn{
  line-height: 1.65 !important;
}

.header-login-content .form-group .form_info {
  color: #f13340;
}
.header-login-content p {
  margin-bottom: 17px;
}
.header-login-content p.submit {
  padding-top: 3px;
}
.header-login-content p.logout {
  margin: 0;
  overflow: hidden;
  clear: both;
}
.header-login-content .btn-md {
  width: 100%;
  font: bold 18px/28px "Open Sans", Helvetica, Arial, sans-serif;
  color: #fff !important;
  padding: 9px 15px 7px;
  border-radius: 0;
}
.header-login-content .btn-md.btn-default {
  background-color: #42b655;
}
.header-login-content .btn-md.btn-default:hover {
  background-color: #349144;
}
.header-login-content .btn-md.btn-primary {
  background-color: #fe9f38;
}
.header-login-content .btn-md.btn-primary:hover {
  background-color: #fe8705;
}
.header-login-content .create-account-content .row {
  margin: 0 -3px;
}
.header-login-content .create-account-content .row > div {
  padding: 0 3px;
}
.header-login-content .create-account-content .social-login-buttons div {
  margin-bottom: 15px;
}
.header-login-content .create-account-content .social-login-buttons div.one-element .btn {
  margin-left: 0;
  font-size: 12px;
  line-height: 1.1;
}
.header-login-content .create-account-content .social-login-buttons div.one-element .btn span {
  margin: 0;
}
.header-login-content .create-account-content .social-login-buttons div.one-element .btn:before {
  display: none;
}
.header-login-content .forgot-password-content .signin i {
  margin-right: 5px;
}

#left-column .header-login-content,
#right-column .header-login-content {
	background:#FFF;
	padding: 1.5625rem 1.25rem;
	box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.1);
    	margin-bottom: 1.5625rem;
}
#left-column .header-login-content>li,
#right-column .header-login-content>li {
	width: auto !important;
}

#left-column .header-login-content>li .btn-md,
#right-column .header-login-content>li .btn-md {
	font-size: 14px;
}

/*
* @section      Style for social account
*/
.social-login-buttons {
  margin: 0 -4px;
}
.social-login-buttons div {
  padding: 0 4px;
  margin-bottom: 17px;
}
.social-login-buttons div .btn {
  width: 100%;
  font: bold 15px/28px "Open Sans", Helvetica, Arial, sans-serif;
  color: #fff;
  padding: 9px 15px 7px;
  border-radius: 0;
}
.social-login-buttons div .btn span {
  margin-left: 10px;
}
.social-login-buttons div .btn:before {
  display: inline-block;
  font: normal 21px/1em "FontAwesome";
}
.social-login-buttons div .btn.btn-login-facebook {
  background-color: #3b5998;
}
.social-login-buttons div .btn.btn-login-facebook:hover {
  background-color: #2d4373;
}
.social-login-buttons div .btn.btn-login-google {
  background-color: #df4a32;
}
.social-login-buttons div .btn.btn-login-google:hover {
  background-color: #c0341e;
}
.social-login-buttons div .btn.btn-login-vk {
  background-color: #3383c1;
}
.social-login-buttons div .btn.btn-login-vk:hover {
  background-color: #286899;
}

/*
* @section      Style for left and right sidebars
* @description  This section holds specific style redeclarations for
*               left and right sidebars
*/
.tmha-sidebar-left, .tmha-sidebar-right {
  background: #f7f7f7;
  height: 100%;
  position: fixed;
  transition: all 0.3s ease;
  top: 0;
  z-index: 99999;
  overflow: auto;
  max-height: 100%;
}

.tmha-sidebar-left {
  left: 0;
  transform: translateX(-100%);
}

.tmha-sidebar-right {
  right: 0;
  transform: translateX(100%);
}
.tmha-sidebar-right .tmha-close-btn {
  right: auto;
  left: 19px;
}

.tmha-sidebar-left.active {
  left: 0;
  transform: translateX(0);
}

.tmha-sidebar-right.active {
  right: 0;
  transform: translateX(0);
}

.tmha-close-btn {
  position: absolute;
  top: 15px;
  right: 19px;
  cursor: pointer;
  display: block;
  color: #b0b0b0;
  outline: none !important;
  transition: all 0.3s ease;
  transform: scale(1);
}

.tmha-close-btn:hover {
  color: #333;
}

/*
* @section      Style for left and right columns
* @description  This section holds specific style redeclarations for
*               left and right columns
*/
#columns .header-login-content {
  padding: 20px;
}
#columns .header-login-content li.user-data p span {
  display: inline-block;
}
#columns .header-login-content li.user-data img {
  float: none;
}
#columns .header-login-content:not(.is-logged) li {
  width: 100%;
}
@media (min-width: 992px) {
  #columns #center_column .social-login-buttons div .btn span {
    display: inline-block;
    font-size: 13px;
  }
}
@media (min-width: 1200px) {
  #columns #center_column .social-login-buttons div .btn span {
    font-size: 15px;
  }
}

.hidden {
  display: none;
}

/*# sourceMappingURL=
