.lang-rtl {
  * {
    direction: rtl !important;
  }
  main {
    text-align: right !important;
  }
}

body,
html {
  height: 100%;
}

body {
  color: $body-color;
  line-height: 1;
  background: $body-background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  height: 100%;
  p {
    font: $font;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: $gray-darker;
  font-weight: 600;
  text-transform: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

a {
  font: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: $gray-darker;
  &:hover, &:focus, &:active {
    outline: none;
    text-decoration: none;
    color: $brand-primary;
  }
}

.dropdown-item:focus,
.dropdown-item:hover {
  background: none;
}

.color,
.custom-checkbox input[type="checkbox"] + span.color {
  display: inline-block;
  border: solid 1px $gray-darker;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-size: contain;
  border-radius: 50%;
  &.active,
  &:hover {
    border: 1px solid $gray-darker;
  }
}

.facet-label {
  &.active,
  &:hover {
    .custom-checkbox span.color {
      border: 2px solid $gray-darker;
    }
  }
}

.h1,
.h2,
.h3 {
  text-transform: uppercase;
  color: $gray-darker;
}

.h4 {
  font-weight: $headings-font-weight;
  color: $gray-darker;
}

.footer-heading {
  font: 600 18px/20px $font-family-primary;
  margin-bottom: 20px;
  color: $gray-darker;
  text-transform: none;
  a {
    font: 600 18px/20px $font-family-primary;
    color: $gray-darker;
    &:hover {
      color: $brand-primary;
    }
  }
}

footer {
  .links .title .footer-heading, .footer-heading {
    color: $light-color;
    a {
      color: $light-color;
      &:hover {
        color: $brand-primary;
      }
    }
  }
}

.font-category {
  font: 400 48px/60px $font-family;
  text-transform: none;
}

.links {
  .title {
    cursor: pointer;
    position: relative;
    .h3 {
      color: $gray-darker;
      padding-right: 20px;
    }
    .collapse-icons .remove {
      display: none;
    }
  }
  .title[aria-expanded="true"] {
    .collapse-icons {
      .add {
        display: none;
      }
      .remove {
        display: block;
      }
    }
  }
  .navbar-toggler {
    position: absolute;
    right: 0;
    top: 0;
    i {
      width: auto;
      height: auto;
    }
    display: inline-block;
    padding: 0;
  }
  .collapse-icons {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    line-height: 16px;
    &[aria-expanded="true"] {
      .add {
        display: none;
      }
      .remove {
        display: block;
      }
    }
    .add,
    .remove {
      transition: all 0.3s ease-in-out;
      font-size: 16px;
      line-height: 16px;
      color: $gray-darker;
      &:hover {
        color: $brand-primary;
      }
    }
    .remove {
      display: none;
    }
  }
  .arrows {
    .arrow-right,
    .arrow-down {
      font-size: 14px;
      line-height: 14px;
      cursor: pointer;
      margin-left: 2px;
      color: $gray-darker;
      &:hover {
        color: $brand-primary;
      }
    }
    .arrow-down {
      display: none;
    }
    &[aria-expanded="true"] {
      .arrow-right {
        display: none;
      }
      .arrow-down {
        display: inline-block;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .collapse, .collapsing {
      padding: 10px;
    }
  }
}

.btn, button {
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font: $font-sm;
  border-radius: 0;
  white-space: normal;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
  &:hover,
  &:active,
  &:active:focus,
  &:focus {
    box-shadow: none;
    outline: none;
    color: inherit;
    text-decoration: none;
  }
  &.disabled,
  &:disabled {
    pointer-events: none;
  }
}

.btn-sm {
  padding: 3px 14px;
}

.btn-md {
  padding: 6px 18px;
}

.btn-lg {
  padding: 12px 20px;
  font-size: 13px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-default {
  box-shadow: inset 0 0 0 2px $brand-primary;
  background: transparent;
  color: $brand-primary;
  &:hover, &:active, &:focus, &:active:focus, &:active:hover, &:active.focus {
    color: $light-color;
    background: $brand-primary;
    box-shadow: inset 0 0 0 2px $brand-primary;
  }
  &:active, &:focus, &:active:focus, &:active:hover, &:active.focus {
    background: rgba($brand-primary, .15);
    box-shadow: inset 0 0 0 2px $brand-primary;
    color: $brand-primary;
  }
  &.disabled,
  &:disabled {
    background-color: transparent;
    border-color: transparent;
  }
}

.btn-primary {
  box-shadow: inset 0 0 0 2px $brand-primary;
  background: $brand-primary;
  color: $light-color;
  &:hover, &:active, &:focus, &:active:focus, &:active:hover, &:active.focus {
    color: $brand-primary;
    background: transparent;
    box-shadow: inset 0 0 0 2px $brand-primary;
  }
  &:active, &:focus, &:active:focus, &:active:hover, &:active.focus {
    background: rgba($brand-primary, .15);
    box-shadow: inset 0 0 0 2px $brand-primary;
  }
}

.btn-primary-lighter {
  box-shadow: inset 0 0 0 2px rgba($brand-primary, 0);
  background: rgba($brand-primary, .5);
  color: $light-color;
  &:hover, &:active, &:focus, &:active:focus, &:active:hover, &:active.focus {
    color: $light-color;
    background: $brand-primary;
    box-shadow: inset 0 0 0 2px rgba($brand-primary, 0);
  }
  &:active, &:focus, &:active:focus, &:active:hover, &:active.focus {
    background: rgba($brand-primary, .5);
    box-shadow: inset 0 0 0 2px $brand-primary;
  }
}

.btn-secondary {
  box-shadow: inset 0 0 0 2px $light-color;
  background: transparent;
  color: $light-color;
  &:hover, &:active, &:focus, &:active:focus, &:active:hover, &:active.focus {
    color: $brand-primary;
    background: $light-color;
    box-shadow: inset 0 0 0 2px $light-color;
  }
  &:active, &:focus, &:active:focus, &:active:hover, &:active.focus {
    background: rgba($light-color, .85);
    box-shadow: inset 0 0 0 2px $light-color;
    color: $brand-primary;
  }
  &.disabled,
  &:disabled {
    background-color: transparent;
    border-color: transparent;
  }
}

.btn.ajax_add_to_cart_button,
.btn.customize {
  i {
    font-size: 24px;
  }
}

.btn-tertiary {
  @extend .btn-secondary;
  background-color: #F7F7F7;
  text-transform: lowercase;
  color: $gray;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 6px;
  margin: 6px 0;
  font-weight: 400;
  font-size: $font-size-sm;
  .material-icons {
    font-size: $base-font-size;
  }
  &:hover {
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(35, 35, 35, 0.2);
  }
}

.btn-unstyle {
  background-color: transparent;
  border: none;
  padding: 0;
  text-align: inherit;
  position: relative;
  i {
    will-change: transform;
    transform-origin: 50% 50%;
  }
  &:focus {
    outline: 0;
    .expand-more {
      color: $brand-primary;
    }
  }
}

.account-link {
  i {
    font-size: 12px;
    line-height: 12px;
  }
}

.dropdown.show {
  .btn-unstyle {
    i {
      transform: rotate(-180deg);
    }
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

label, .label {
  color: $gray-darker;
  font-size: 14px;
  text-align: left;
  line-height: 16px;
  font-weight: 400;
}

small.label, small.value {
  font-size: 12px;
}

.form-control-label {
  padding-top: 20px;
}

.form-control {
  background: $light-color;
  color: $gray-darker-primary;
  border: 1px solid $input-border-color;
  font: $font;
  height: $input-height;
  padding: 13px 5px 14px;
  transition: all 0.3s ease-in-out;
  &::-webkit-input-placeholder {
    color: $gray-darker-primary;
  }
  &::-moz-placeholder {
    color: $gray-darker-primary;
  }
  &:-moz-placeholder {
    color: $gray-darker-primary;
  }
  &:-ms-input-placeholder {
    color: $gray-darker-primary;
  }
  &:focus {
    color: $gray-darker-primary;
    outline: none;
    border-color: $brand-primary;
  }
}

.input-group {
  &.focus {
    .form-control {
      border: solid 1px $brand-primary;
    }
  }
  .form-control:focus {
    outline: none;
  }
  .input-group-btn {
    > .btn {
      border: 0;
      box-shadow: none;
      color: $light-color;
      font-size: 12px;
      line-height: 14px;
      font-weight: 600;
      letter-spacing: $letter-spacing-primary;
      margin-left: 0;
      padding: 15px 20px 16px;
      text-transform: uppercase;
      &[data-action="show-password"] {
        min-width: 79px;
        background: $brand-secondary;
        height: 100%;
        &:hover {
          background: $brand-primary;
        }
      }
    }
  }
}

input, textarea {
  &::-webkit-input-placeholder {
    color: $gray-darker-primary;
  }
  &::-moz-placeholder {
    color: $gray-darker-primary;
  }
  &:-ms-input-placeholder {
    color: $gray-darker-primary;
  }
  &:-moz-placeholder {
    color: $gray-darker-primary;
  }
  &:active {
    &::-webkit-input-placeholder {
      color: $gray-darker;
    }
    &::-moz-placeholder {
      color: $gray-darker;
    }
    &:-ms-input-placeholder {
      color: $gray-darker;
    }
    &:-moz-placeholder {
      color: $gray-darker;
    }
  }
}

.form-control-select {
  height: $input-height;
  color: $gray-darker;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: $gray-light url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAPklEQVR4Ae3TwREAEBQD0V/6do4SXPZg7EsBhsQ8IEmSMOsiuEfg3gL3oXC7wK0bd1G4o8X9F4yIkyQfSrIByQBjp7QuND8AAAAASUVORK5CYII=") no-repeat scroll right 10px center / 26px 26px;
  padding: 0 10px;
}

.form-control-valign {
  padding-top: 10px;
}

.form-control-comment {
  font-size: 14px;
  padding-top: 15px;
  color: $gray-darker;
}

.form-control-submit {
  &.disabled {
    background: $brand-info;
    color: white;
  }
}

.form-group {
  &.has-error {
    input,
    select {
      border: 1px solid $brand-danger;
    }
    .help-block {
      margin-top: 5px;
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
      color: $brand-danger;
    }
  }
}

.thead-default th {
  color: $gray-darker;
}

.group-span-filestyle {
  label {
    margin: 0;
  }
  .btn-default {
    background: $brand-primary;
    color: white;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 16px;
    padding: 10px 25px;
  }
}

.bootstrap-touchspin {
  width: auto;
  float: left;
  display: inline-block;
  @include box-shadow-light;
  input {
    &:focus {
      outline: none;
    }
    &.form-control,
    &.input-group {
      color: $gray-darker;
      background-color: white;
      height: $input-height;
      padding: 3px 10px;
      width: 60px;
      border: 1px solid $input-border-color;
      float: left;
    }
  }
  .btn-touchspin {
    @extend .btn-default;
    background-color: white;
    border: 1px solid $input-border-color;
    height: $input-height / 2;
    &:hover {
      background-color: $gray-light;
    }
  }
  .input-group-btn-vertical {
    color: $gray-darker;
    width: auto;
    float: left;
    .bootstrap-touchspin-up {
      border-radius: 0;
    }
    .bootstrap-touchspin-down {
      border-radius: 0;
    }
    .touchspin-up {
      &:after {
        content: "\E5CE";
      }
    }
    .touchspin-down {
      &:after {
        content: "\E5CF";
      }
    }
    i {
      top: 10px;
      left: 2px;
      font-size: 20px;
    }
  }
}

.custom-radio {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: solid 1px $brand-primary;
  background: $light-color;
  margin-right: 5px;
  margin-bottom: 2px;
  input[type="radio"] {
    opacity: 0;
    cursor: pointer;
  }
  input[type="radio"] {
    &:checked {
      border-color: transparent;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    }
    &:checked + span {
      display: block;
      background-color: $brand-primary;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      left: 2px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.custom-checkbox {
  position: relative;
  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    opacity: 0;
    margin-top: 0;
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 1;
    + span {
      position: absolute;
      top: 2px;
      left: 0;
      margin-right: 3px;
      display: inline-block;
      width: 16px;
      height: 16px;
      vertical-align: middle;
      cursor: pointer;
      background: $light-color;
      border: 1px $brand-primary solid;
      z-index: 0;
      transition: all 0.3s ease-in-out;
      .checkbox-checked {
        display: none;
        font-size: 14px;
        line-height: 16px;
        color: $brand-primary;
        transition: all 0.3s ease-in-out;
      }
    }
    &:checked + span {
      .checkbox-checked {
        display: block;
      }
    }
    &:focus + span {
      border-color: $brand-primary;
    }
  }
  label {
    display: block;
    text-align: left;
    padding-left: 25px;
  }
}

.text-muted {
  font-size: 16px;
  color: $gray-darker !important;
}

.block-categories {
  .home-category {
    display: none;
  }
}

.done {
  color: $brand-success;
  display: inline-block;
  padding: 0 12px;
  margin-right: 25px;
}

.thumb-mask {
  > .mask {
    position: relative;
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin: 10px 0;
    img {
      width: 70px;
      height: 70px;
    }
  }
}

.definition-list {
  dl {
    display: flex;
    flex-wrap: wrap;
    dt {
      font-weight: normal;
    }
    dd,
    dt {
      flex: 0 0 45%;
      background: $gray-light;
      padding: 20px;
      margin: 2px;
      &:nth-of-type(even) {
        background: $gray-lighter;
      }
    }
  }
}

.help-block {
  margin-top: $small-space;
  &.main-help-block {
    ul {
      background: $brand-danger;
      li {
        color: $light-color;
        padding: 10px 10px 8px;
        margin-bottom: 10px;
        font: 400 14px/16px $font-family;
      }
    }
  }
}

.btn.disabled,
.btn.disabled:hover {
  pointer-events: none;
  opacity: .7;
  cursor: default;
}

.alert-warning {
  .material-icons {
    color: $warning;
    font-size: 40px;
    margin-right: $small-space;
    padding-top: $extra-small-space;
  }
  .alert-text {
    font-size: 20px;
    padding-top: $small-space;
  }
  .alert-link {
    border-radius: 2px;
    border-width: 2px;
    margin-left: $small-space;
    padding: $extra-small-space $medium-space;
    font-weight: 600;
    font-size: 12px;
    color: $btn-tertiary-color;
  }
  ul li:last-child .alert-link {
    color: $light-color;
  }
  .warning-buttons {
    margin-top: $extra-small-space;
  }
}

.btn-warning {
  transition: all .4s ease-in-out;
}

.btn-tertiary-outline {
  color: $btn-tertiary-color;
  background-image: none;
  background-color: transparent;
  border-color: $btn-tertiary-color;
  border: 2px solid $btn-tertiary-color;
  transition: all .4s ease-in-out;
  &:hover {
    border-color: $btn-tertiary-hover;
    color: $btn-tertiary-hover;
  }
}

.nav-item {
  .nav-link,
  .nav-separtor {
    color: $gray-darker;
    padding: 0 0 10px 0;
    position: relative;
    &:before {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      right: 0;
      height: 0;
      background: $gray-darker;
      transition: all 0.3s ease-in-out;
      //opacity: 0;
    }
    &.active, &:hover {
      &:before {
        height: 2px;
        //opacity: 1;
      }
    }
    &.active {
      pointer-events: none;
      cursor: default;
    }
  }
}

.separator {
  margin: 0;
  border-color: rgba(0, 0, 0, 0.25);
}

.static {
  position: static;
}

.alert {
  position: relative;
  padding: 11px 25px 11px 11px;
  text-align: left;
  border-radius: 0;
  font: 400 14px/18px $font-family-primary;
  margin: 5px auto;
  .close {
    float: none;
    position: absolute;
    top: 7px;
    right: 8px;
  }
  > p {
    padding: 0 0 5px 27px;
  }
  ul,
  ol {
    padding-left: 15px;
    margin-left: 27px;
    margin-bottom: 0;
    li {
      list-style-type: decimal;
      font-weight: normal;
      padding: 0;
      + li {
        margin-top: 5px;
      }
    }
  }
  &.alert-success {
    background-color: $brand-success;
    border-color: $brand-success;
    color: $light-color;
    &:before {
      @include addFontAwesomeIcon('\f058');
      font-size: 21px;
      line-height: 18px;
      padding-right: 7px;
      float: left;
    }
  }
  &.alert-danger {
    background-color: $brand-danger;
    border-color: $brand-danger;
    color: $light-color;
    &:before {
      @include addFontAwesomeIcon('\f057');
      font-size: 21px;
      line-height: 18px;
      padding-right: 7px;
      float: left;
    }
    .alert-link {
      color: $gray-darker;
      &:hover {
        color: $light-color;
      }
    }
  }
  &.alert-warning {
    background-color: $brand-warning;
    border-color: $brand-warning;
    color: $light-color;
    padding-left: 40px;
    &:before {
      position: absolute;
      left: 10px;
      top: 10px;
      @include addFontAwesomeIcon('\f071');
      font-size: 20px;
      line-height: 20px;
    }
  }
  &.alert-info {
    background-color: $brand-info;
    color: $light-color;
    border: solid 1px $brand-info;
    padding-left: 35px;
    &:before {
      position: absolute;
      left: 18px;
      top: 10px;
      @include addFontAwesomeIcon('\f129');
      font-size: 20px;
      line-height: 20px;
    }
  }
}

.product-name {
  font: $product-font;
  color: $gray-darker;
  a {
    font: $product-font;
    color: $gray-darker;
    &:hover {
      color: $brand-primary;
    }
  }
}

.price {
  font: $price-font;
  color: $price-color;
  strong {
    font-weight: 700;
  }
  &.has_discount {
    color: $price-discount-color;
  }
  &.discount-percentage, &.discount-amount, &.total-price {
    color: $discount-percentage-price-color;
    font-weight: 400;
  }
  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 18px;
  }
}

.new-price {
  color: $price-new-color;
}

.regular-price {
  font: $price-font;
  text-decoration: line-through;
  color: $regular-price-color;
  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 18px;
  }
}

.products-section-title {
  text-align: left;
  margin-bottom: 25px;
  font: 600 24px/30px $font-family-primary;
  color: $gray-darker;
  text-transform: capitalize;
}

[tabindex="-1"]:focus {
  outline: none;
}

#manufacturer {
  #manufacturer-description {
    margin-top: 30px;
  }
}

#supplier {
  #supplier-description {
    margin-top: 20px;
  }
}

#manufacturer, #supplier {
  .brand-wrapper {
    ul {
      margin-top: 60px;
      > li {
        .brand-img {
          text-align: center;
          a {
            display: inline-block;
            border: solid 1px $gray;
            padding: 5px;
          }
        }
        .brand-infos {
          h3 {
            font: 600 24px/30px $font-family-primary;
          }
        }
        .brand-products {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          > a {
            margin-right: 20px;
            margin-top: 10px;
          }
        }
        + li {
          margin-top: 60px;
        }
      }
    }
    @include media-breakpoint-down(sm) {
      ul > li {
        text-align: center;
        .brand-infos {
          margin-top: 15px;
        }
        .brand-products {
          justify-content: center;
        }
      }
    }
  }
}

.modal-backdrop {
  background: $gray-darker;
}

button.close {
  text-shadow: none;
  color: $gray-darker;
  &:hover {
    color: $brand-primary;
  }
}

.modal-dialog {
  .modal-content {
    border-radius: 0;
    border: none;
    @include box-shadow-custom();
    .close {
      position: absolute;
      top: 5px;
      right: 10px;
      z-index: 100;
    }
  }
}

.address-form {
  .js-address-form {
    .form-control-label {
      padding-top: 0;
      margin: 10px 0;
    }
    .form-group.row {
      display: flex;
      align-items: center;
    }
  }
}

.its_ie .clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}