/* Font Awesome font*/
@import "../node_modules/font-awesome/css/font-awesome.min.css";

/*
	Work Sans font
*/

/* work-sans-100normal - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 100;
  src: url('~typeface-work-sans/files/work-sans-latin-100.eot'); /* IE9 Compat Modes */
  src:
      local('Work Sans Thin '),
      local('Work Sans-Thin'),
      url('~typeface-work-sans/files/work-sans-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('~typeface-work-sans/files/work-sans-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
      url('~typeface-work-sans/files/work-sans-latin-100.woff') format('woff'), /* Modern Browsers */
      url('~typeface-work-sans/files/work-sans-latin-100.svg#work-sans') format('svg'); /* Legacy iOS */
}

/* work-sans-200normal - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 200;
  src: url('~typeface-work-sans/files/work-sans-latin-200.eot'); /* IE9 Compat Modes */
  src:
      local('Work Sans Extra Light '),
      local('Work Sans-Extra Light'),
      url('~typeface-work-sans/files/work-sans-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('~typeface-work-sans/files/work-sans-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
      url('~typeface-work-sans/files/work-sans-latin-200.woff') format('woff'), /* Modern Browsers */
      url('~typeface-work-sans/files/work-sans-latin-200.svg#work-sans') format('svg'); /* Legacy iOS */
}

/* work-sans-300normal - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: url('~typeface-work-sans/files/work-sans-latin-300.eot'); /* IE9 Compat Modes */
  src:
      local('Work Sans Light '),
      local('Work Sans-Light'),
      url('~typeface-work-sans/files/work-sans-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('~typeface-work-sans/files/work-sans-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
      url('~typeface-work-sans/files/work-sans-latin-300.woff') format('woff'), /* Modern Browsers */
      url('~typeface-work-sans/files/work-sans-latin-300.svg#work-sans') format('svg'); /* Legacy iOS */
}

/* work-sans-400normal - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('~typeface-work-sans/files/work-sans-latin-400.eot'); /* IE9 Compat Modes */
  src:
      local('Work Sans Regular '),
      local('Work Sans-Regular'),
      url('~typeface-work-sans/files/work-sans-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('~typeface-work-sans/files/work-sans-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
      url('~typeface-work-sans/files/work-sans-latin-400.woff') format('woff'), /* Modern Browsers */
      url('~typeface-work-sans/files/work-sans-latin-400.svg#work-sans') format('svg'); /* Legacy iOS */
}

/* work-sans-500normal - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: url('~typeface-work-sans/files/work-sans-latin-500.eot'); /* IE9 Compat Modes */
  src:
      local('Work Sans Medium '),
      local('Work Sans-Medium'),
      url('~typeface-work-sans/files/work-sans-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('~typeface-work-sans/files/work-sans-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
      url('~typeface-work-sans/files/work-sans-latin-500.woff') format('woff'), /* Modern Browsers */
      url('~typeface-work-sans/files/work-sans-latin-500.svg#work-sans') format('svg'); /* Legacy iOS */
}

/* work-sans-600normal - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url('~typeface-work-sans/files/work-sans-latin-600.eot'); /* IE9 Compat Modes */
  src:
      local('Work Sans SemiBold '),
      local('Work Sans-SemiBold'),
      url('~typeface-work-sans/files/work-sans-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('~typeface-work-sans/files/work-sans-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
      url('~typeface-work-sans/files/work-sans-latin-600.woff') format('woff'), /* Modern Browsers */
      url('~typeface-work-sans/files/work-sans-latin-600.svg#work-sans') format('svg'); /* Legacy iOS */
}

/* work-sans-700normal - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url('~typeface-work-sans/files/work-sans-latin-700.eot'); /* IE9 Compat Modes */
  src:
      local('Work Sans Bold '),
      local('Work Sans-Bold'),
      url('~typeface-work-sans/files/work-sans-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('~typeface-work-sans/files/work-sans-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
      url('~typeface-work-sans/files/work-sans-latin-700.woff') format('woff'), /* Modern Browsers */
      url('~typeface-work-sans/files/work-sans-latin-700.svg#work-sans') format('svg'); /* Legacy iOS */
}

/* work-sans-800normal - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 800;
  src: url('~typeface-work-sans/files/work-sans-latin-800.eot'); /* IE9 Compat Modes */
  src:
      local('Work Sans ExtraBold '),
      local('Work Sans-ExtraBold'),
      url('~typeface-work-sans/files/work-sans-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('~typeface-work-sans/files/work-sans-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
      url('~typeface-work-sans/files/work-sans-latin-800.woff') format('woff'), /* Modern Browsers */
      url('~typeface-work-sans/files/work-sans-latin-800.svg#work-sans') format('svg'); /* Legacy iOS */
}

/* work-sans-900normal - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  src: url('~typeface-work-sans/files/work-sans-latin-900.eot'); /* IE9 Compat Modes */
  src:
      local('Work Sans Black '),
      local('Work Sans-Black'),
      url('~typeface-work-sans/files/work-sans-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('~typeface-work-sans/files/work-sans-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
      url('~typeface-work-sans/files/work-sans-latin-900.woff') format('woff'), /* Modern Browsers */
      url('~typeface-work-sans/files/work-sans-latin-900.svg#work-sans') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(~material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(~material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(~material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(~material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

/*
	Raleway font
*/
@font-face {
  font-family: Raleway;
  src: url('~raleway-webfont/fonts/Raleway-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Raleway;
  src: url('~raleway-webfont/fonts/Raleway-Thin-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Raleway;
  src: url('~raleway-webfont/fonts/Raleway-ExtraLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Raleway;
  src: url('~raleway-webfont/fonts/Raleway-ExtraLight-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Raleway;
  src: url('~raleway-webfont/fonts/Raleway-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Raleway;
  src: url('~raleway-webfont/fonts/Raleway-Light-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Raleway;
  src: url('~raleway-webfont/fonts/Raleway-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Raleway;
  src: url('~raleway-webfont/fonts/Raleway-Regular-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Raleway;
  src: url('~raleway-webfont/fonts/Raleway-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Raleway;
  src: url('~raleway-webfont/fonts/Raleway-Medium-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Raleway;
  src: url('~raleway-webfont/fonts/Raleway-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Raleway;
  src: url('~raleway-webfont/fonts/Raleway-SemiBold-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Raleway;
  src: url('~raleway-webfont/fonts/Raleway-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Raleway;
  src: url('~raleway-webfont/fonts/Raleway-Bold-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Raleway;
  src: url('~raleway-webfont/fonts/Raleway-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Raleway;
  src: url('~raleway-webfont/fonts/Raleway-ExtraBold-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Raleway;
  src: url('~raleway-webfont/fonts/Raleway-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Raleway;
  src: url('~raleway-webfont/fonts/Raleway-Black-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}

/*
	Material Icons font
*/

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
