@mixin search-box {
  form {
    position: relative;
    button[type=submit] {
      position: absolute;
      background: none;
      border: none;
      height:$input-height;
      width: 40px;
      padding: 0;
      top: 0;
      right: 0;
      color: $brand-primary;
      &:hover {
        color: $gray-darker;
      }
    }
  }
}

@mixin box-shadow {
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

@mixin box-shadow-light {
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

@mixin box-shadow-custom {
  box-shadow: -3px 3px 30px 0px rgba(0, 0, 0, 0.09);
}

// ------- Main Icon -------
@mixin addFontAwesomeIcon($content) {
  font-family: $font-awesome-icon;
  content: $content;
  display: inline-block;
  font-weight: normal;
}

@mixin addMaterialIcon($content) {
  font-family: $font-material-icon;
  content: $content;
  display: inline-block;
  font-weight: normal;
}

// ------- Selector -------
@mixin selector() {
  height: 40px;
  border: 1px solid $input-border-color;
  color: $gray-primary;
  font: $font;
  line-height: 30px;
  padding: 5px 10px;
}