$gray-darker: #2f2f2f;
$gray-darker-primary: #4d4d4d;
$gray-darker-secondary: #323232;
$gray-dark: #7b7b7b;
$gray: #f3f3f3;
$gray-primary: #767676;
$gray-light: #ebebeb;
$gray-light-primary: #e4e4e4;
$gray-lighter: #f6f6f6;
$light-color: #ffffff;
$brand-primary: #62bfc4;
$brand-secondary: #855fa8;
$brand-secondary-1: #ff4141;
$brand-success: #70dfbf;
$brand-warning: #ffa26f;
$brand-danger: #f76063;
$brand-info: #89dde7;
$border-color: #dadada;
$label-color: $gray-darker;
$btn-primary-color: #fff;
$btn-primary-bg: $brand-primary;
$btn-primary-border: transparent;
$btn-secondary-color: $gray-darker;
$btn-secondary-bg: $gray-lighter;
$btn-secondary-border: transparent;
$btn-border-radius: 0;
$input-border-color: rgba($gray-darker, 0.25);
$headings-font-weight: 700;
$tooltip-bg: $brand-danger;
$border-radius: 0;
$extra-small-space: 4px;
$small-space: 20px;
$medium-space: 25px;
$large-space: 30px;
$extra-large-space: 45px;
$warning: #FF9A52;
$warning-hover: #FDE7BB;
$alert-warning-bg: rgba(255, 154, 82, 0.3);
$alert-warning-border: $warning;
$alert-warning-text: $gray-darker;
$btn-warning-bg: $warning;
$btn-warning-color: white;
$btn-tertiary-color: #6C868E;
$btn-tertiary-hover: #BBCDD2;
$base-font-size: 14px;
$font-size-lg: 0.9375rem;
$font-size-sm: 0.875rem;
$font-size-xs: 0.8125rem;
$font-size-h1: 52px;
$font-size-h2: 40px;
$font-size-h3: 30px;
$font-size-h4: 24px;
$font-size-h5: 20px;
$font-size-h6: 18px;
$display1-size: 50px;
$display1-weight: 600;
$display2-size: 35px;
$display2-weight: 400;
$display3-size: 25px;
$display3-weight: 400;
$display4-size: 20px;
$display4-weight: 400;
$text-muted: $gray;

// ------- Font Family -------
$font-family: 'Open Sans', sans-serif;
$font-family-primary: 'Raleway', sans-serif;
$font-awesome-icon: 'FontAwesome';
$font-material-icon: 'Material Icons';

// ------- FONTS -------
$font: 600 12px/18px $font-family;
$font-primary: 600 12px/18px $font-family-primary;
$font-sm: 700 11px/16px $font-family;
$font-md: 400 14px/18px $font-family;
$font-lg: 600 14px/18px $font-family;
$font-xl: 400 26px/30px $font-family;
$font-contact-form: 600 30px/34px $font-family;
$font-page-header: 400 48px/60px $font-family;
$product-font: 600 12px/18px $font-family-primary;
$price-font: 700 18px/20px $font-family;
$font-modal-title : 400 26px/30px $font-family;
$font-heading: 400 15px/20px $font-family;
$font-subheading: 400 20px/24px $font-family;
$price-font-primary: 400 20px/24px $font-family-primary;

// ------- LETTER SPACING -------
$letter-spacing: 0.05em;
$letter-spacing-primary: 0.02em;

// ------- BACKGROUNDS -------
$footer-background: #292929;
$header-background: #f3f3f3;
$main-background: $light-color;
$body-background: $footer-background;
$product-background: #f7f5f6;
$background-primary: $brand-primary;
$background-primary-lighter: #b0dfe1;
$background-secondary: $brand-secondary;
$background-secondary-1: $brand-secondary-1;
$primary-background-lighten: lighten(desaturate(adjust_hue($brand-primary, 4.0000000000000435), 8.695652173913018%), 16.078431372549005%);

// ------- COLORS -------
$body-color: $gray-primary;
$price-color: $brand-primary;
$price-discount-color: $brand-secondary-1;
$price-new-color: $brand-secondary-1;
$regular-price-color:  $gray-darker;
$discount-percentage-price-color:  $gray-darker;
$footer-link-color: $gray-primary;
$footer-link-color-hover: $light-color;

// ------- Inputs -------
$input-height: 45px;