@import "~bourbon/app/assets/stylesheets/bourbon";
@import "partials/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css";
@import "partials/_mixins";
@import "partials/_fonts";
@import "partials/_commons";
@import "components/alert";
@import "components/drop-down";
@import "components/search-widget";
@import "components/mainmenu";
@import "components/checkout";
@import "components/customer";
@import "components/forgotten-password";
@import "components/renew-password";
@import "components/homeslider";
@import "components/featuredproducts";
@import "components/custom-cms";
@import "components/custom-text";
@import "components/categories";
@import "components/products";
@import "components/product-list";
@import "components/cart";
@import "components/block-reassurance";
@import "components/quickview";
@import "components/stores";
@import "components/footer";
@import "components/contact";
@import "components/errors";
@import "components/customization-modal";
@import "components/sitemap";
@import "components/ps_emailsubscription";
@import "components/ps_sharebuttons";
@import "components/ps_shoppingcart";
@import "components/tmdaydeal";
@import "components/tmsearch";
@import "components/tmheaderaccount";
@import "components/tmhtmlcontent";
@import "components/tmmegamenu";
@import "~slick-carousel/slick/slick.scss";

/*** CONTAINER ***/
.container {
  @include media-breakpoint-up(xl) {
    width: 1170px;
    padding-left: 0;
    padding-right: 0;
  }
}

/*** HEADER ***/
#header {
  background: $header-background;
  .logo {
    max-width: 100%;
    display: inline-block;
    height: auto;
  }
  .header-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
    padding-bottom: 10px;
    #contact-link {
      color: $light-color;
      font: 700 14px/20px $font-family;
      span {
        display: none;
      }
      a {
        color: $light-color;
        &:hover {
          color: $brand-primary;
        }
      }
    }
  }
  .header-nav-left {
    display: flex;
    align-items: center;
  }
  .header-nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .header-top {
    > .container {
      position: relative;
    }
    padding-bottom: 26px;
    .menu {
      > ul {
        > li {
          float: left;
        }
      }
      padding-left: 15px;
      margin-bottom: 4px;
    }
    .position-static {
      position: static;
    }
    a[data-depth="0"] {
      color: $gray;
      text-transform: uppercase;
    }
  }
  #tmsearchblock {
    margin-left: 80px;
  }
  .language-selector-wrapper, .currency-selector-wrapper {
    margin-left: 5px;
    .dropdown-menu {
      border: none;
      color: $gray-darker;
      margin: 20px 0 0 0;
      padding: 30px 20px;
      background: $light-color;
      right: 0;
      left: auto;
      min-width: 130px;
      font: $font-md;
      text-align: center;
      @include box-shadow-custom();
      > li {
        &.current a {
          color: $brand-primary;
        }
        + li {
          margin-top: 10px;
        }
      }

      .dropdown-item {
        width: auto;
        display: inline-block;
      }
    }
  }
  #_desktop_user_info {
    margin-right: 63px;
  }
}

.popover {
  font-family: inherit;
}

/*** WRAPPER ***/
#wrapper {
  .banner {
    margin-bottom: 30px;
    display: block;
  }
  .breadcrumb {
    background: transparent;
    padding: 0;
    margin: 20px 0;
    &[data-depth="1"] {
      display: none;
    }
    ol {
      padding-left: 0;
      margin-bottom: 0;
      word-spacing: -4px;
    }
    li {
      display: inline-block;
      word-spacing: normal;
      font: $font-primary;
      position: relative;
      padding-right: 15px;
      margin-right: 10px;
      &::after {
        position: absolute;
        right: 0;
        top: 45%;
        transform: translateY(-50%);
        content: ">";
        color: $gray-darker;
      }
      &:last-child {
        padding-right: 0;
        margin-right: 0;
        &::after {
          display: none;
        }
      }
      > a {
        font: $font-primary;
        text-transform: uppercase;
      }
    }
  }
}

body:not(#index) {
  #wrapper {
    #content-wrapper, #left-column, #right-column {
      margin-top: 100px;
    }
  }
}

/*** MAIN ***/
main {
  background: $main-background;
  overflow: hidden;
  .page-header {
    margin-bottom: 25px;
    h1 {
      font: $font-page-header;
    }
  }
  .page-content {
    h6 {
      margin-bottom: 22px;
    }
    #notifications {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

#notifications {
  ul {
    margin-bottom: 0;
  }
}

/*** FOOTER ***/
#footer {
  margin-top: 60px;
  background: $footer-background;
  .block-categories {
    ul {
      > li {
        a {
          color: $footer-link-color;
          &:hover {
            color: $footer-link-color-hover;
          }
        }
      }
    }
    .category-top-menu {
      .category-sub-menu {
        > li {
          .collapse-icons, > .collapse {
            display: none;
          }
        }
      }
    }
  }
}

/*** Top Column ***/
#top-column {
  margin-top: 30px;
  margin-bottom: 40px;
}

/*** Backgrounds ***/
.background-primary {
  background: $background-primary;
}

.background-secondary {
  background: $background-secondary;
}

.background-secondary-1 {
  background: $background-secondary-1;
}

.background-darker-primary {
  background: $gray-darker-primary;
  position: relative;
  z-index: 2;
  &:before, &:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    width: 10000px;
    background: $gray-darker-primary;
    z-index: -1;
  }
  &:before {
    right: 99%;
  }
  &:after {
    left: 99%;
  }
}

.background-darker-secondary {
  background: $gray-darker-secondary;
  position: relative;
  z-index: 0;
  &:before, &:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    width: 10000px;
    background: $gray-darker-secondary;
    z-index: -1;
  }
  &:before {
    right: 99%;
  }
  &:after {
    left: 99%;
  }
}

.background-light {
  background: rgba($light-color, .6);
  position: relative;
  z-index: 2;
  &:before, &:after {
    position: absolute;
    content: '';
    background: rgba($light-color, .6);
    width: 10000px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  &:before {
    left: 100%;
  }
  &:after {
    right: 100%;
  }
}

.block-custom-primary {
  position: relative;
  z-index: 1;
  &:before {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 50%;
    margin-left: 300px;
    content: '';
    width: 400px;
    height: 200%;
    background: lighten(saturate(adjust_hue($background-secondary, -29.589041095890423), 11.688281982661987%), 13.725490196078425%);
    transform: translate(-50%, -50%) skewX(-23deg);
  }
}

.block-custom-secondary {
  position: relative;
  z-index: 1;
  &:before {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 50%;
    margin-left: 155px;
    content: '';
    width: 398px;
    height: 200%;
    background: lighten(saturate(adjust_hue($gray-darker, 0), 0%), 6.274509803921568%);
    transform: translate(-50%, -50%) skewX(-23deg);
    @include media-breakpoint-down(lg) {
      width: 300px;
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

/*** Colors ***/
.color-primary {
  color: $brand-primary;
}

/*** Indents ***/
.well-1 {
  padding-top: 15px;
  padding-bottom: 20px;
}

.well-2 {
  padding-top: 20px;
  padding-bottom: 14px;
  @include media-breakpoint-down(sm) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.well-3 {
  padding-top: 58px;
  padding-bottom: 85px;
}

.inset-1 {
  margin-bottom: 30px;
}

.inset-2 {
  @include media-breakpoint-up(md) {
    margin-right: 25px;
  }
}

/*** ToTop ***/
.toTop, .toTop:focus {
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 46px;
  border-radius: 50%;
  color: $gray-lighter;
  background: $brand-primary;
  position: fixed;
  right: 20px;
  bottom: 60px;
  display: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 20;
  transition: all 0.3s ease-in-out;
  &:hover, &:active {
    color: $gray-lighter;
    background: darken($brand-primary, 20%);
    text-decoration: none;
  }
}

/*** Loading ***/
#loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: 99999;
  background: $gray;
  .loading-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
    width: 4em;
    height: 1em;
    margin: 0 auto;
    .regot {
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background: $brand-primary;
      position: absolute;
      animation-duration: 0.5s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
    }
    .regot1, .regot2 {
      left: 0;
    }
    .regot3 {
      left: 1.5em;
    }
    .regot4 {
      left: 3em;
    }
    .regot1 {
      animation-name: show;
    }
    .regot2, .regot3 {
      animation-name: shift;
    }
    .regot4 {
      animation-name: remove;
    }
  }
}

@keyframes show {
  from {
    transform: scale(0.001);
  }
  to {
    transform: scale(1);
  }
}

@keyframes remove {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.001);
  }
}

@keyframes shift {
  to {
    transform: translateX(1.5em)
  }
}

/*** Responsive part ***/
@include media-breakpoint-down(lg) {
  main .page-header h1 {
    font-size: 40px;
    line-height: 52px;
  }
  #header {
    #tmsearchblock {
      margin-left: 15px;
    }
  }
  body:not(#index) {
    #wrapper {
      #content-wrapper, #left-column, #right-column {
        margin-top: 40px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  main .page-header h1 {
    font-size: 36px;
    line-height: 48px;
  }
  .container {
    max-width: 100%;
  }
  #header {
    .logo {
      width: auto;
    }
    #_desktop_user_info {
      margin-right: 20px;
    }
  }
  #products .product-miniature,
  .featured-products .product-miniature {
    margin: 0 auto;
  }
  .sub-menu {
    left: 0;
    min-width: 100%;
  }
  #blockcart-modal .product-image {
    width: 100%;
    display: block;
    max-width: 250px;
    margin: 0 auto 20px;
  }
  #blockcart-modal .cart-content {
    padding-left: 0;
  }
  #blockcart-modal .product-name,
  #product-availability {
    margin-top: $small-space;
  }
  #search_filters .facet .facet-label {
    text-align: left;
  }
  .block-category .category-cover {
    position: relative;
    text-align: center;
  }
  .block-category {
    padding-bottom: 0;
  }
}

@include media-breakpoint-down(sm) {
  main .page-header h1 {
    font-size: 30px;
    line-height: 42px;
  }
  #header {
    .header-nav-left {
      display: block;
      text-align: center;
    }
    .header-nav-right {
      justify-content: space-between;
    }
    #tmsearchblock {
      margin: 20px auto;
    }
    #_desktop_user_info {
      margin-right: 0;
    }
    .currency-selector-wrapper, .language-selector-wrapper {
      .dropdown-menu {
        margin-top: 10px;
        right: 50%;
        transform: translateX(50%);
        min-width: 110px;
        padding: 25px 20px;
      }
    }
  }
  #checkout-cart-summary {
    float: none;
    width: 100%;
    margin-top: 25px;
  }
  section.checkout-step {
    width: 100%;
  }
  .default-input {
    min-width: 100%;
  }
  label {
    clear: both;
  }
  #products .product-miniature,
  .featured-products .product-miniature {
    margin: 0 auto;
  }
  .menu,
  .dropdown-item {
    padding-left: 0;
  }
  .toTop, .toTop:focus {
    display: none !important;
  }
}
