#block-reassurance{
  border: 1px solid $gray-light;
  background: $light-color;
  img {
    width: 25px;
    margin-right: 20px;
  }
  li {
    + li {
      border-top: 1px solid $gray-light;
    }
  }
  li .block-reassurance-item {
    padding: 25px 30px;
  }
  #product & {
    span {
      font-weight: 700;
    }
  }
}
