.cart-grid {
  margin-bottom: 25px;
}
.cart-items {
  margin-bottom: 0;
}
.cart-item {
  padding: 25px 0;
}
.cart-summary-line {
  @include clearfix;
  clear: both;
  .label {
    padding-left: 0;
    font-weight: normal;
    white-space: inherit;
  }
  .value {
    color: $gray-darker;
    float: right;
  }
  &.cart-summary-subtotals {
    .label,
    .value {
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
    }
  }
}
/** CART BODY **/
.cart-grid-body {
  margin-bottom: 17px;
  .card-block {
    padding: 0;
    h1 {
      margin-bottom: 0;
      font: $font-page-header;
      text-transform: none;
    }
  }
  .cart-overview {
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .product-image {
    img {
      background: $product-background;
      padding: 5px;
    }
  }
}
/** CART RIGHT **/
.cart-grid-right {
  .promo-discounts {
    margin-bottom: 0;
    .cart-summary-line {
      .label {
        color: $gray-darker;
        .code {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
  #block-reassurance {
    margin-top: 30px;
  }
  .cart-summary {
    box-shadow: none;
  }
}
.block-promo {
  .promo-code {
    padding: 28px;
    background: $gray-light;
    .alert-danger {
      position: relative;
      margin-top: 26px;
      background: $brand-danger;
      color: white;
      display: none;
      &::after {
        bottom: 100%;
        left: 10%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $brand-danger;
        border-width: 10px;
        margin-left: -10px;
      }
    }
  }
  .promo-input {
    color: $gray-darker;
    border: $gray 1px solid;
    height: 45px;
    text-indent: 20px;
    width: 60%;
    + button {
      margin-top: -4px;
      text-transform: capitalize;
    }
  }
  .cart-summary-line .label,
  .promo-name {
    color: $brand-warning;
    font-weight: 600;
    a {
      font-weight: normal;
      color: $gray-darker;
      display: inline-block;
    }
  }
  .promo-code-button {
    padding-left: 26px;
    margin-bottom: 26px;
    display: inline-block;
  }
  &.promo-highlighted {
    padding: 26px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
/** CONTENT LEFT **/
.product-line-grid-left {
  img {
    max-width: 100%;
  }
}
/** CONTENT BODY **/
.product-line-grid-body {
  > .product-line-info {
    + .product-line-info {
      margin-top: 10px;
    }
    .product-discount, .current-price {
      > span {
        margin-right: 20px;
      }
    }
    .product-discount + .current-price {
      margin-top: 10px;
    }
    > .label {
      padding: 0;
      line-height: inherit;
      text-align: left;
      white-space: inherit;
    }
    > .label, > .value {
      font: 400 16px/20px $font-family
    }
    > .out-of-stock {
      color: red;
    }
    > .available {
      color: $brand-success;
    }
    > .unit-price-cart {
      padding-left: 4px;
      font-size: 16px;
      color: $gray-darker;
    }
  }
}
/** CONTENT LEFT **/
.product-line-grid-right {
  .cart-line-product-actions,
  .product-price {
    color: $gray-darker;
    line-height: 36px;
    strong {
      font-weight: 700;
    }
    .remove-from-cart {
      display: inline-block;
      font-size: 24px;
      line-height: 24px;
    }
  }
  .qty {
    .bootstrap-touchspin {
      box-shadow: none;
      width: 100px;
      position: relative;

      .form-control {
        color: $gray-darker;
        height: 40px;
        line-height: 30px;
        padding: 5px 20px 5px 10px;
        text-align: center;
        box-shadow: inset 0 0 0 2px $gray-darker;
        transition: all 0.3s ease-in-out;
        border: none;
        width: inherit;
        &:focus {
          box-shadow: inset 0 0 0 2px $brand-primary;
        }
      }
      .input-group-btn-vertical {
        position: static;
        display: inline-block;
        .btn {
          position: absolute;
          padding: 0;
          width: 18px;
          height: 18px;
          right: 2px;
          color: $gray-darker;
          box-shadow: none;
          border: none;
          z-index: 3;
          i {
            position: static;
            font-size: 18px;
            line-height: 18px;
            width: auto;
            height: auto;
            top: auto;
            left: auto;
          }
          &.bootstrap-touchspin-up {
            top: 2px;
          }
          &.bootstrap-touchspin-down {
            bottom: 2px;
          }
          &:hover {
            color: $brand-primary;
          }
        }

      }
      .btn-touchspin {
        height: 18px;
      }
    }
  }
}

/*** Responsive part ***/
@include media-breakpoint-down(lg) {
  .cart-summary-line {
    small {
      &.value {
        font-size: 20px;
        line-height: 26px;
      }
    }
  }
  .product-line-grid-right {
    .qty {
      .bootstrap-touchspin {
        width: 80px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .product-line-grid-body {
    margin-bottom: 25px;
  }
}

@include media-breakpoint-down(xs) {
  .cart-summary-line {
    small {
      &.value {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
  .cart-items {
    padding: 25px 0;
  }
  .cart-item {
    border-bottom: 1px solid $gray-light;
    &:last-child {
      border-bottom: 0;
    }
  }
  .cart-grid-body {
    .cart-overview {
      padding: 0;
    }
    .no-items {
      padding: 25px;
      display: inline-block;
    }
  }
  .product-line-grid-left {
    padding-right: 0 !important;
  }
}

@media (max-width: 360px) {
  .product-line-grid-right {
    .col-6.price, .col-6.qty  {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
