#products {
  color: $gray-darker;
  .products-select {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .up {
    margin-top: 25px;
    margin-bottom: 25px;
    span {
      display: block;
      position: relative;
      padding-right: 22px;
      i {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
      }
    }
  }
}

.block-category {
  margin-bottom: 25px;
  &.card {
    box-shadow: none;
    border: none;
    padding: 0;
  }
  #category-description {
    p,
    strong {
      font-weight: 400;
    }
    p {
      margin-bottom: 0;
      + p {
        margin-top: 10px;
      }
    }
  }
  .category-cover {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    img {
      width: 250px;
    }
  }
}

.block-category-sm-down {
  margin-top: 20px;
  h1 {
    font-size: 36px;
    line-height: 40px;
  }
}

.products-selection {
  .sort-by-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .sort-by-position {
    justify-content: flex-end;
  }
  .sort-by-left {
    justify-content: flex-start;
  }
  .sort-by {
    white-space: normal;
    word-break: break-word;
    margin: 0 20px 0 0;
    text-align: right;
    color: $gray-darker;
    font: $font-primary;
  }
  .total-products {
    p {
      margin-bottom: 0;
      color: $gray-darker;
      font: $font-primary;
    }
  }
  h1 {
    padding-top: 20px;
  }
}

.products-sort-order {
  color: $gray-darker;
  .select-title {
    display: inline-block;
    width: 230px;
    min-height: $input-height;
    color: $gray-darker;
    background: $light-color;
    padding: 13px 20px 14px;
    cursor: pointer;
    border: solid 1px $gray-darker;
    position: relative;
    z-index: 0;
    i {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      transform-origin: 50% 25%;
      z-index: 2;
    }
  }
  .select-list {
    display: block;
    color: $gray-darker;
    padding: $small-space $medium-space;
    &:hover {
      background: $brand-primary;
      color: $light-color;
      text-decoration: none;
    }
  }
  .dropdown-menu {
    right: 0;
    left: auto;
    width: 230px;
    background: $gray;
    border: none;
    border-radius: 0;
    @include box-shadow-custom();
  }
}

.facet-dropdown {
  color: $gray;
  padding-left: 0;
  padding-right: 0;
  background: $gray-light;
  border: 3px solid transparent;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px 1px $gray-light;
  &.open {
    border: 0;
    > .select-title {
      border: 3px solid $brand-primary;
      background: $gray-lighter;
    }
  }
  .select-title {
    display: inline-flex;
    align-items: center;
    margin-left: 0;
    width: 100%;
    color: $gray-darker;
    background: $gray-light;
    padding: $small-space $small-space $small-space $medium-space;
    cursor: pointer;
    > i {
      margin-left: auto;
    }
  }
  .select-list {
    display: block;
    color: $gray-darker;
    background: $gray-lighter;
    padding: $small-space $medium-space;
    &:hover {
      background: $brand-primary;
      color: white;
      text-decoration: none;
    }
  }
  .dropdown-menu {
    padding: 0;
    margin-top: 3px;
    left: auto;
    width: 100%;
    background: $gray-lighter;
    border: none;
    box-shadow: 1px 1px 1px 1px $gray-light;
  }
}

#search_filters,
#search_filters_brands,
#search_filters_suppliers {
  ul > li {
    position: relative;
  }
  h4 {
    font: 600 26px/30px $font-family-primary;
    margin-bottom: 30px;
    color: $gray-darker;
  }
  .btn-filter {
    span {
      position: relative;
      padding-left: 20px;
      i {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
  .facet {
    margin-top: 40px;
    .collapse {
      display: block;
      margin-top: 10px;
    }

    .facet-title {
      color: $gray-darker;
      font: 400 24px/28px $font-family-primary;
      margin-bottom: 0;
    }
    .facet-label {
      margin-bottom: 0;
      > span {
        position: absolute;
        left: 0;
        top: 2px;
      }
      a {
        padding-left: 28px;
        display: inline-block;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        font-family: $font-family;
        text-align: left;
      }
    }
  }
  ul {
    > li {
      + li {
        margin-top: 16px;
      }
    }
  }
}

#search_filters_brands,
#search_filters_suppliers {
  .facet {
    padding-top: 0;
    .facet-label {
      margin-bottom: 8px;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  font: $font-lg;
  color: $gray-darker;
  margin-top: 60px;
  .page-list {
    text-align: right;
    li {
      display: inline-block;
      margin: 5px 3px;
      &:not(.current) .disabled {
        opacity: .5;
      }
    }
  }
  a {
    font: $font-lg;
    span {
      display: none;
    }
  }
  .disabled {
    pointer-events: none;
    cursor: default;
  }
  .current a {
    color: $brand-primary;
  }
  .material-icons {
    font-size: 20px;
  }
}

.active_filters {
  background: $gray;
  padding: 20px 15px;
  margin-bottom: $medium-space;
  display: flex;
  align-items: center;
  .active-filter-title {
    font: $font-lg;
    color: $gray-darker;
    margin-right: 20px;
    margin-bottom: 0;
  }
  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .filter-block {
    position: relative;
    box-shadow: inset 0 0 0 2px $brand-primary;
    background: transparent;
    color: $brand-primary;
    overflow: hidden;
    border: none;
    z-index: 0;
    padding: 7px 12px 5px 18px;
    margin: 3px;
    transition: all 0.3s ease-in-out;
    font: $font-sm;
    letter-spacing: $letter-spacing;
    .close {
      font-size: 18px;
      line-height: 16px;
      opacity: 1;
      margin-left: 8px;
      text-shadow: none;
      color: $brand-primary;
      transition: all 0.3s ease-in-out;
    }
    &:hover, &:active, &:focus, &:active:focus, &:active:hover, &:active.focus {
      color: $light-color;
      background: $brand-primary;
      box-shadow: inset 0 0 0 2px $brand-primary;
      .close {
        color: $light-color;
      }
    }
    &:active, &:focus, &:active:focus, &:active:hover, &:active.focus {
      background: rgba($brand-primary, .15);
      box-shadow: inset 0 0 0 2px $brand-primary;
      color: $brand-primary;
    }
  }
}

.block-categories {
  ul {
    > li {
      a {
        color: $gray-darker;
        font: $font-primary;
        font-family: $font-family;
        &:hover {
          color: $brand-primary;
        }
      }
    }
  }
  .category-sub-menu {
    > li + li {
      margin-top: 11px;
    }
    .collapse, .collapsing {
      .category-sub-menu {
        padding: 10px;
      }
    }
    .category-sub-link {
    }
    li {
      position: relative;
      &[data-depth="1"] {
        margin-bottom: 0;
      }
    }
    li[data-depth="0"] > a {

    }
    li:not([data-depth="0"]):not([data-depth="1"]) {
      padding-left: 8px;
      &::before {
        content: "-";
        margin-right: 8px;
      }
    }
  }
  .collapse {
    display: none;
    &.show {
      display: block;
    }
  }
}

.facets-title {
  color: $gray-darker;
}

.products-selection {
  .filter-button {
    .btn-secondary {
      padding: 17px 10px 18px;
    }
  }
}

#left-column, #right-column {
  .column-overlay {
    background: $gray;
    padding-left: 15px;
    padding-right: 15px;
    > div {
      &:first-child {
        padding-top: 40px;
      }
      &:last-child {
        padding-bottom: 40px;
      }
      + div {
        margin-top: 60px;
      }
      h3 {
        font: 400 24px/28px $font-family-primary;
        color: $gray-darker;
      }
    }
  }

  .block-categories {
    > ul {
      > li > a {
        padding-right: 20px;
      }
    }
  }
}

/*** Responsive part ***/
@include media-breakpoint-between(md, lg) {
  .layout-both-columns {
    .products-selection {
      [class*='col-'] {
        flex: 0 0 100%;
        max-width: 100%;
        .sort-by-position {
          margin-top: 10px;
        }
      }
      .sort-by-position {
        justify-content: flex-start;
        .sort-by {
          display: none;
        }
      }
    }
    .pagination {
      .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .showing-count, .page-list {
        text-align: center;
      }
      .page-list {
        margin-top: 20px;
      }
    }
  }
}

@include media-breakpoint-only(md) {
  .layout-left-column, .layout-right-column {
    .products-selection {
      .sort-by-position {
        justify-content: flex-start;
        margin-top: 10px;
      }
    }
  }
  .layout-both-columns {
    .products-sort-order .select-title {
      width: 210px;
    }
  }
  #left-column, #right-column {
    .column-overlay {
      padding-left: 10px;
      padding-right: 10px;
      > div {
        + div {
          margin-top: 40px;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  #left-column, #right-column {
    .footer-list, .links > .collapse {
      display: block;
    }
  }
}

@include media-breakpoint-down(sm) {
  .products-selection {
    .sort-by-position {
      justify-content: center;
    }
    .products-sort-order, .filter-button {
      margin: 5px 10px;
    }
    .filter-button {
      .btn-md {
        padding: 13px 22px 14px;
      }
    }
  }
  .pagination {
    margin-top: 40px;
    .showing-count, .page-list {
      text-align: center;
    }
    .page-list {
      margin-top: 20px;
    }
  }
  .column-overlay {
    > div {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  #search_filters,
  #search_filters_brands,
  #search_filters_suppliers {
    .facet {
      .facet-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
      }
      .title {
        margin-bottom: 10px;
        position: relative;
      }
      ul {
        padding: 0 10px 10px 10px;
      }
      .collapse {
        margin-top: 0;
      }
      .navbar-toggler i {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
  .block-categories ul > li {
    + li {
      margin-top: 10px;
    }
  }
  #left-column, #right-column {
    .column-overlay > div {
      &:first-child {
        padding-top: 20px;
      }
      &:last-child {
        padding-bottom: 20px;
      }
      + div {
        margin-top: 20px;
      }
      &#search_filters_wrapper:not(.search-active) + * {
        margin-top: 0;
        padding-top: 20px;
      }
    }
  }

  #category {
    #search_filter_controls {
      text-align: center;
      margin-bottom: 25px;
      button {
        margin: 5px 10px;
        padding: 10px 13px;
        span {
          position: relative;
          padding-left: 20px;
          i {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 18px;
          }
        }
      }
    }
    #search_filters {
      margin-bottom: 0;
      box-shadow: none;
      padding: 0;
      .facet {
        margin-top: 10px;
        .title {
          cursor: pointer;
          .collapse-icons .remove {
            display: none;
          }
        }
        .title[aria-expanded="true"] {
          .collapse-icons {
            .add {
              display: none;
            }
            .remove {
              display: block;
            }
          }
        }
        padding-top: 0;
        .facet-title {
          color: $gray-darker;
        }
        .h6 {
          margin-bottom: 0;
          display: inline-block;
          padding-right: 20px;
        }
        .navbar-toggler {
          position: absolute;
          right: 0;
          top: 0;
          i {
            width: auto;
            height: auto;
          }
          display: inline-block;
          padding: 0;
        }
        .collapse {
          display: none;
          &.show {
            display: block;
          }
        }
        .facet-label {
          a {
            margin-top: 0;
          }
        }
        ul {
          margin-bottom: 0;
          li {

          }
        }
      }
    }
    #search_filter_toggler {
      width: 100%;
    }
  }
  .products-sort-order {
    .select-title {
      margin-left: 0;
    }
  }
  .products-selection {
    h1 {
      padding-top: 0;
      text-align: center;
      margin-bottom: 25px;
    }
    .showing {
      padding-top: 30px;
      color: $gray-darker;
      font: $font-lg;
    }
  }
  #prices-drop #content-wrapper,
  #new-products #content-wrapper,
  #best-sales #content-wrapper {
    width: 100%;
  }
}

@include media-breakpoint-down(xs) {
  .products-selection {
    .filter-button {
      padding-left: 0;
    }
  }
}
