body#checkout {
  #wrapper {
    margin-top: 60px;
  }
  .custom-checkbox {
    display: flex;
    span {
      flex: 0 0 15px;
      margin-top: -2px;
    }
  }
  .delivery-options-list {
    .form-fields {
      margin-bottom: 30px;
    }
  }
  section#content {
    margin-bottom: 25px;
  }
  .container {
    min-height: 100%;
  }
  section.checkout-step {
    background-color: $light-color;
    border: 1px $gray-light solid;
    padding: 20px;
    + .checkout-step {
      border-top: 0;
    }
    .nav-inline {
      .nav-item {
        margin-right: 10px;
        .btn-primary.active-form {

        }
      }
    }
    .step-title {
      cursor: pointer;
      margin-bottom: 0;
      transition: all 0.3s ease-in-out;
      font: 600 34px/38px $font-family-primary;
      text-transform: none;
      position: relative;
      padding-left: 35px;
      &:hover {
        color: $brand-primary;
      }
    }
    &.-current {
      .step-title {
        pointer-events: none;
        cursor: default;
      }
    }
    .log-out-person {
      a {
        margin-left: 20px;
      }
    }
    .content {
      padding: 0 40px;
      margin: 20px 0;
      .payment-options {

      }
    }
    .step-edit {
      text-transform: lowercase;
      font-weight: normal;
      .edit {
        font-size: $base-font-size;
      }
    }
    .not-allowed {
      cursor: not-allowed;
      opacity: 0.5;
    }
    .content,
    .done,
    .step-edit {
      display: none;
    }
    &.-current {
      .content {
        display: block;
      }
    }
    &.-current.-reachable.-complete {
      .done,
      .step-edit {
        display: none;
      }
      .step-number {
        display: inline-block;
      }
      .content {
        display: block;
      }
    }
    &.-reachable.-complete {
      h1 {
        .done {
          display: inline-block;
          font-size: 30px;
          line-height: 30px;
          padding: 0;
          position: absolute;
          top: 6px;
          left: 0;
        }
        .step-number {
          display: none;
        }
        .step-edit {
          cursor: pointer;
          display: block;
          float: right;
          margin-right: 2px;
          transition: all 0.3s ease-in-out;
        }
        &:hover .step-edit {
          color: $brand-primary !important;
        }
      }
      .content {
        display: none;
      }
    }
    small {
      color: $gray-darker-primary;
    }
    .default-input {
      min-width: 40%;
      &[name=address1],
      &[name=address2] {
        min-width: 60%;
      }
    }
    .radio-field {
      margin-top: 25px;
      label {
        display: inline;
      }
    }
    .checkbox-field div {
      margin-top: 60px;
    }
    .checkbox-field + .checkbox-field div {
      margin-top: 0;
    }
    .select-field div {
      background: $gray-lighter;
      padding: 20px 65px;
    }
    .form-footer {
      text-align: center;
    }
    #conditions-to-approve {
      padding-top: 10px;
    }
    #payment-confirmation {
      margin-top: 30px;
    }
    .payment-options {
      label {
        display: table-cell;
      }
      .custom-radio {
        margin-right: 10px;
        margin-top: 2px;
      }
      .payment-option {
        margin-bottom: 10px;
      }
    }
    .step-number {
      position: absolute;
      left: 0;
      top: 6px;
      display: inline-block;
      padding-right: 10px;
      font-size: 30px;
      line-height: 30px;
      font-family: $font-family-primary;
    }
    .address-selector {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    .address-item {
      background: $gray-lighter;
      flex: 0 0 49%;
      margin-bottom: $small-space;
      border: 2px solid transparent;
      .custom-radio {
        margin-right: 5px;
      }
      &.selected {
        background: white;
        border: $brand-primary 2px solid;
        header {
          margin-top: 20px;
        }
      }
    }
    .address-alias {
      display: inline-block;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .address {
      margin-left: 25px;
      font-weight: normal;
    }
    .radio-block {
      padding: 20px;
      text-align: left;
      cursor: pointer;
    }
    .custom-radio {
      margin-right: 0;
      margin-bottom: 4px;
      input[type="radio"] {
        height: 16px;
        width: 16px;
      }
    }
    .delete-address,
    .edit-address {
      display: inline-block;
      margin: 0 4px;
      .delete,
      .edit {
        font-size: $base-font-size;
      }
    }
    hr {
      margin: 0;
    }
    .address-footer {
      text-align: center;
      padding: 20px;
    }
    #delivery-addresses,
    #invoice-addresses {
      margin-top: 26px;
    }
    .add-address {
      margin-top: 26px;
      a {
        i {
          font-size: $font-size-lg;
        }
      }
    }
    .delivery-options {
      background: $gray-lighter;
      margin: 20px 0;
      padding: 0 15px;
      .row {
        align-items: center;
      }
    }
    .delivery-option {
      padding: 20px 0;
      label {
        text-align: inherit;
        margin: 10px 0;
      }
    }
    .carrier-delay,
    .carrier-name {
      display: inline-block;
      word-break: break-word;
      text-align: left;
      margin-bottom: 0;
    }
    #customer-form,
    #delivery-address,
    #invoice-address,
    #login-form {
      margin-left: 4px;
      margin-top: 25px;
      footer {
        margin-top: 20px;
      }
      .form-control-label {
        text-align: left;
      }
      .radio-inline {
        padding: 0;
      }
    }
    .sign-in {
      font-size: $font-size-sm;
    }
    .forgot-password {
      text-align: center;
    }
  }
  .additional-information {
    font-size: $font-size-sm;
    margin-left: 40px;
    margin-top: 26px;
  }
  .condition-label {
    margin-left: 30px;
    label {
      text-align: inherit;
    }
    a {
      text-decoration: underline;
    }
  }
  .cancel-address {
    margin: 20px;
    display: block;
    color: $gray;
    text-decoration: underline;
  }
  .modal-content {
    padding: $medium-space;
  }
  #cart-summary-product-list {
    img {
      border: $gray-light 1px solid;
      padding: 2px;
      display: inline-block;
      max-width: 100%;
    }
    .media-body {
      vertical-align: middle;
    }
    ul {
      margin-bottom: 20px;
      > li {
        .product-name {
          font-size: 16px;
          line-height: 20px;
          font-weight: 400;
          pointer-events: none;
        }
        .product-quantity {
          font: $font-primary;
          margin-left: 5px;
        }
        .product-price {
          display: block;
          margin-top: 10px;
        }
        + li {
          margin-top: 20px;
        }
      }
    }
  }
  #order-summary-content {
    padding-top: 20px;
    h4.h4 {
      margin-top: 20px;
      margin-bottom: 26px;
      color: $gray-darker;
    }
    h4.black {
      color: $gray-darker;
    }
    h4.addresshead {
      margin-top: 2px;
    }
    .noshadow {
      box-shadow: none;
    }
    #order-items {
      border-right: 0;
      h3.h3 {
        color: $gray-darker;
        margin-top: 26px;
      }
      table {
        tr {
          &:first-child {
            td {
              border-top: 0;
            }
          }
        }
      }
    }
    .order-confirmation-table {
      padding: 25px;
      margin-bottom: 40px;
      background-color: $light-color;
      border: 3px solid $gray-light;
      border-radius: 0;
    }
    .summary-selected-carrier {
      margin-bottom: 17px;
      background-color: $light-color;
      border: 1px solid $gray-light;
      border-radius: 0;
      padding: 25px;
    }
    .step-edit {
      display: inline;
    }
    .step-edit:hover {
      color: $brand-primary !important;
    }
    a {
      .step-edit {
        color: $gray-darker;
      }
    }
  }
  #gift_message, #delivery {
    max-width: 100%;
    border-color: $gray-darker;
    label {
      display: inline-block;
      margin-bottom: 10px;
    }
    textarea {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }

  #js-checkout-summary {
    &.card {
      box-shadow: none;
    }
    + #block-reassurance {
      margin-top: 30px;
    }
  }
  .cart-summary-products {
    align-items: center;
    .summmary-items {
      font-size: 16px;
      line-height: 18px;
      color: $brand-primary;
    }
  }
}

/**** ORDER CONFIRMATION *****/
#order-details {
  margin-top: 20px;
  > .card-title {
    margin-bottom: 15px;
    font: $font-modal-title;
    text-transform: none;
  }
  ul {
    margin-bottom: $medium-space;
    li {
      margin-bottom: 15px;
      font: $font;
      em {
        font: $font;
        font-style: italic;
      }
    }
  }
}

#order-detail {
  #order-infos {
    .row {
      align-items: center;
    }
  }
}

#order-items {
  border-right: $gray-light 1px solid;
  hr {
    border-top-color: $gray-light;
  }
  table {
    width: 100%;
    tr {
      height: 40px;
      td {
        &:last-child {
          text-align: right;
        }
        &:not(.price) {
          font: $font-modal-title;
        }
      }
    }
  }
  .order-line {
    margin-top: 25px;
  }
  .image {
    img {
      width: 100%;
      margin-bottom: 25px;
    }
  }
  .details {
    margin-bottom: 25px;
    .customizations {
      margin-top: 20px;
    }
  }
  .qty {
    margin-bottom: 25px;
  }
}

#order-confirmation {
  .done {
    padding: 0;
    font-size: 30px;
    line-height: 30px;
    margin-right: 20px;
  }
  #registration-form {
    width: 50%;
    margin: 0 auto 25px;
  }
  #content-hook_order_confirmation {
    .card-title {
      font: $font-page-header;
      text-transform: none;
    }
  }
  .page-order-confirmation {
    #order-items {
      border: none;
    }
  }
  .card {
    + .card {
      border-top: 0;
    }
    &.page-content {
      margin-bottom: 0;
    }
  }

  #order-items {
    .card-title {
      text-transform: none;
      font: $font-modal-title;
    }
    .details {
      font: $product-font;
      color: $gray-darker;
    }
    .product-prices-and-quantity {
      .quantity {
        text-align: center;
      }
    }
  }
  .image {
    img {
      background: $product-background;
      padding: 10px;
    }
  }
}

@include media-breakpoint-down(lg) {
  body#checkout {
    section.checkout-step {
      .step-title {
        font-size: 26px;
        line-height: 30px;
      }
      &.-reachable.-complete h1 .done {
        font-size: 24px;
        line-height: 24px;
      }
      .content {
        padding: 0;
      }
    }
  }
  #order-confirmation #content-hook_order_confirmation .card-title {
    font-size: 40px;
    line-height: 52px;
  }
}

@include media-breakpoint-down(md) {
  .done {
    margin: 0;
    padding: 0;
  }
  body#checkout section.checkout-step .address-item {
    flex-grow: 1;
  }
  body#checkout section.checkout-step .delivery-option-2 {
    flex-direction: column;
  }
  .delivery-option {
    display: flex;
    margin: auto;
    .custom-radio {
      flex: 0 0 auto;
    }
  }
  .condition-label {
    label[for="conditions_to_approve[terms-and-conditions]"] {
      text-align: left;
    }
  }
  #order-confirmation {
    #registration-form {
      width: 100%;
    }
  }
  #order-confirmation #content-hook_order_confirmation .card-title {
    font-size: 36px;
    line-height: 48px;
  }
}

@include media-breakpoint-down(sm) {
  body#checkout section.checkout-step.-reachable.-complete h1 .step-edit {
    float: none;
    margin-top: 6px;
    margin-left: $medium-space;
  }
  body#checkout {
    #header .header-nav {
      max-height: none;
      padding: 0;
    }
    section.checkout-step {
      .content {
        padding: 20px;
      }
    }
    .form-group {
      margin-bottom: 10px;
    }
  }
  #order-items {
    border-right: 0;
    margin-bottom: 45px;
    .card-title {
      border-bottom: 1px solid $gray-light;
      margin-bottom: 25px;
      padding-bottom: 25px;
    }
    hr {
      border-top-color: $gray-light;
    }
  }
  .bold {
    font-weight: bold;
  }
  #order-details {
    .card-title {
      border-bottom: 1px solid $gray-light;
      margin-bottom: 25px;
      padding-bottom: 25px;
    }
  }
  #order-items table tr td:not(.price),
  body .cart-summary-line.cart-sub-total .label,
  body .cart-summary-line.cart-summary-subtotals .label,
  body .cart-summary-line.cart-total .label {
    font-size: 20px;
    line-height: 24px;
  }
  #order-confirmation #content-hook_order_confirmation .card-title {
    font-size: 30px;
    line-height: 34px;
  }
  #order-confirmation .done {
    font-size: 24px;
    line-height: 24px;
    margin-right: 10px;
  }
  #order-detail {
    #order-infos {
      .box {
        .col-12 {
          + .col-12 {
            margin-top: 20px;
          }
        }
      }
    }
  }
  #order-confirmation #content-hook_order_confirmation .card-title {
    font-size: 30px;
    line-height: 42px;
  }
}

@include media-breakpoint-down(xs) {
  body#checkout {
    section.checkout-step {
      .content {
        padding: 20px 0;
      }
    }
  }
  #payment-confirmation {
    button {
      font-size: 16px;
      &.btn {
        white-space: normal;
      }
    }
  }
}

.cart-empty {
  .cart-summary {
  }
}

.js-payment-binary {
  display: none;
  .accept-cgv {
    display: none;
  }
  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none;
    }
    .accept-cgv {
      display: block;
    }
  }
}
