.contact-rich {
  color: $gray-darker;
  word-wrap: break-word;
  h4 {
    font: $font-contact-form;
    margin-bottom: 40px;
  }
  .block {
    height: auto;
    overflow: hidden;
    .icon {
      float: left;
      width: 50px;
      color: $gray-darker;
      i {
        font-size: 40px;
      }
    }
    .data {
      color: $gray-darker;
      font: $font-md;
      width: auto;
      overflow: hidden;
      &.email {
        padding-top: 4px;
      }
    }
  }
}

.contact-form {
  background: $light-color;
  padding: 25px;
  color: $gray-darker;
  width: 100%;
  h3 {
    font: $font-contact-form;
  }
}

/*** Responsive part ***/

@include media-breakpoint-down(lg) {
  .contact-form {
    padding: 20px 0;
  }
  .contact-rich h4, .contact-form h3 {
    font-size: 26px;
    line-height: 30px;
  }
}

@include media-breakpoint-down(sm) {
  .contact-form {
    padding: 0;
  }
  .contact-rich h4, .contact-form h3 {
    font-size: 22px;
    line-height: 28px;
  }
}