/* Custom text blocks*/

$custom-color-1: #90d7eb;
$custom-color-2: #42add7;
$custom-color-3: lighten(saturate(adjust_hue($brand-secondary, -29.589041095890423), 11.688281982661987%), 13.725490196078425%);
$custom-color-4: #69c2e1;
$custom-color-5: #69c2e1;
$custom-color-6: #a2a1e1;

#custom-text {
  background: $gray;
  position: relative;
  z-index: 0;
  &:before, &:after {
    position: absolute;
    content: '';
    background: $gray;
    top: 0;
    bottom: 0;
    width: 10000px;
    z-index: -1;
  }
  &:before {
    right: 99%;
  }
  &:after {
    left: 99%;
  }
  > ul {
    @media (max-width: 1799px) {
      margin: 0;
    }
    > li {
      padding-top: 100px;
      padding-bottom: 100px;
      z-index: 0;
      position: relative;
      &:before {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
      }
      @media (min-width: 1800px) {
        &:before {
          transform: skewX(-23deg);
          margin-left: -40px;
          margin-right: 15px;
        }
      }
      &:nth-child(3n+1) {
        &:before {
          background: $custom-color-1;
        }
        .fa {
          color: $custom-color-4;
        }
      }
      &:nth-child(3n+2) {
        &:before {
          background: $custom-color-2;
        }
        .fa {
          color: $custom-color-5;
        }
      }

      &:nth-child(3n+3) {
        &:before {
          background: $custom-color-3;
        }
        .fa {
          color: $custom-color-6;
        }
      }
      .fa {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        font-size: 210px;
        line-height: 1;
        z-index: 2;
      }
      .type-text {
        position: relative;
        z-index: 3;
        > * {
          margin: 0;
        }
        h3, p {
          color: $light-color;
          font-weight: 600;
          font-family: $font-family-primary;
        }
        h3 {
          font-size: 36px;
          line-height: 1.111;
          a {
            color: $light-color;
            &:hover {
              color: $gray-darker;
            }
          }
        }
        p {
          font-size: 24px;
          line-height: 1.25;
        }
      }
    }
  }
}

.page-content.page-cms {
  background: white;
  padding: 26px;
  text-align: justify;
  .cms-box {
    img {
      max-width: 100%;
    }
  }
}

/*** Responsive part ***/
#custom-text {
  @include media-breakpoint-down(lg) {
    > ul > li {
      padding-top: 80px;
      padding-bottom: 80px;
      .fa {
        font-size: 150px;
      }
      .type-text {
        h3 {
          font-size: 30px;
        }
        p {
          font-size: 20px;
          margin-top: 5px;
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    > ul > li {
      .type-text {
        h3 {
          font-size: 24px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    > ul > li {
      padding-top: 50px;
      padding-bottom: 50px;
      .fa {
        font-size: 100px;
        right: 30%;
      }
      .type-text {
        //h3 {
        //  font-size: 30px;
        //}
        //p {
        //  font-size: 20px;
        //  margin-top: 5px;
        //}
      }
    }
  }
}