/*** SOME GENERIC STYLES ***/
@mixin customer-area-base-box {
  background: $light-color;
  border: solid 1px $gray-light;
  padding: 25px;
}
@mixin customer-area-box {
  @include customer-area-base-box;
  font-size: $font-size-sm;
  color: $gray-darker;
}
.table-labeled {
  th {
    vertical-align: middle;
  }
  td {
    vertical-align: middle;
  }
  .label {
    font-weight: 400;
    border-radius: 3px;
    font-size: inherit;
    padding: 6px 4px;
    margin: 2px;
    color: white;
    white-space: nowrap;
  }
}
.page-order {
  .table {
    margin-bottom: 0;
  }
  table {
    th {
      padding: 10px;
    }
    td {
      padding: 10px;
    }
    thead {
      th {
        text-align: center;
      }
    }
  }
}
#authentication {
  .tooltip.tooltip-bottom {
    padding: 0;
    margin: 0;
  }
  .custom-checkbox {
    display: flex;
    span {
      flex: 0 0 20px;
    }
    label {
      padding-left: 20px;
    }
  }
}
#identity,
#authentication {
  .radio-inline {
    padding: 0;
    .custom-radio {
      margin-right: 0;
    }
  }
}
/*** Most of the customer accpunt pages ***/
.page-customer-account {
  #content {
    @include customer-area-box;
    margin-bottom: 30px;
    .order-actions {
      a {
        padding: 0 2px;
      }
    }
    .forgot-password {
      text-align: center;
      font-size: $font-size-sm;
      margin-top: 25px;
      padding-bottom: 20px;
    }
    .no-account {
      text-align: center;
      font-size: $base-font-size;
    }
  }
}
/*** Login page ***/
.page-authentication {
  #content {
    @include customer-area-base-box;
    max-width: 640px;
    margin: 0 auto;
  }
}
/*** Addresses page ***/
.page-addresses {
  .address {
    border: solid 1px $gray-light;
    background: $light-color;
    margin-bottom: 25px;
    color: $gray-darker;
    .address-body {
      padding: 25px;
      h4 {
        font:600 30px/34px $font-family-primary;
      }
      address {
        min-height: 180px;
        font: $font;
        font-weight: 400;
      }
    }
    .address-footer {
      border-top: 1px solid $gray;
      padding: 10px 25px;
      a {
        margin-right: 10px;
        i {
          font-size: $base-font-size;
        }
        span {
          font-size: $font-size-lg;
          vertical-align: middle;
        }
      }
    }
  }
  .addresses-footer {
    margin: 0 20px;
    a {
      i {
        font-size: $base-font-size;
      }
      span {
        font-size: $base-font-size;
        vertical-align: middle;
        margin-top: $small-space;
      }
    }
  }
}
/*** Order details page ***/
.page-order-detail {
  font-size: 16px;
  color: $gray-darker;
  .box {
    @include customer-area-base-box;
    margin-bottom: 25px;
    ul > li + li {
      margin-top: 5px;
    }
  }
  h3 {
    font-size: $base-font-size;
    font-weight: 700;
    text-transform: uppercase;
    color: $gray-darker;
    margin-bottom: 25px;
  }
  #order-infos {
    ul {
      margin: 0;
    }
  }
  #order-history {
    .history-lines {
      .history-line {
        padding: 10px 0;
        border-bottom: 1px solid $gray-lighter;
        &:last-child {
          border-bottom: 0;
        }
        .label {
          display: inline-block;
          margin: 6px 0;
          padding: 6px 4px;
          color: $light-color;
          border-radius: 3px;
        }
      }
    }
  }
  .addresses {
    margin: 0 -20px;
    h4 {
      font-size: $base-font-size;
      font-weight: 600;
    }
  }
  #order-products {
    &.return {
      margin-bottom: 25px;
      th {
        &.head-checkbox {
          width: 30px;
        }
      }
      td {
        padding: 23px 17px;
        &.qty {
          min-width: 125px;
          .current {
            width: 30%;
            float: left;
            text-align: right;
            padding-right: 10px;
          }
          .select {
            width: 70%;
            float: left;
            margin: -20px 0;
            padding-left: 6px;
            select {
              text-align: center;
            }
          }
        }
      }
    }
  }
  .order-items {
    padding: 0 !important;
    .order-item {
      padding: 25px 25px 0;
      border-bottom: 1px solid $gray-lighter;
      .checkbox {
        width: 30px;
        float: left;
        padding: 0 20px;
      }
      .content {
        width: calc(100% - 30px);
        float: left;
        padding: 0 20px;
      }
      .desc {
        .name {
          font-weight: bold;
        }
        margin-bottom: 25px;
      }
      .qty {
        margin-bottom: 25px;
        .q {
          margin-bottom: 6px;
        }
        .s {
          margin-bottom: 6px;
        }
      }
    }
  }
  .messages {
    .message {
      margin-top: 10px;
      border-bottom: 1px solid $gray-lighter;
      &:last-child {
        border-bottom: 0;
      }
      > div {
        margin-bottom: 10px;
      }
    }
  }
  .customization {
    margin-top: 17px;
  }
}
/*** Order return page ***/
#order-return-infos {
  .thead-default th {
    color: $gray-darker;
  }
  .customization {
    margin-top: 17px;
  }
}
/*** My account landing page ***/
.page-my-account {
  #content {
    .links {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      a {
        text-align: center;
        display: inline-block;
        font-size: $base-font-size;
        font-weight: 700;
        text-transform: uppercase;
        color: $gray-darker-primary;
        padding: 0 20px;
        margin-bottom: 25px;
        span.link-item {
          display: block;
          height: 100%;
          @include customer-area-base-box;
        }
        i {
          display: block;
          font-size: 50px;
          width: 100%;
          color: $gray-darker;
          padding-bottom: 62px;
        }
        &:hover {
          color: $gray-darker;
          i {
            color: $brand-primary;
          }
        }
      }
    }
  }
}
/*** History page ***/
#history {
  .orders {
    margin: 0 -25px;
    .order {
      a {
        h3 {
          color: $gray-darker;
        }
      }
      padding: 17px 25px;
      border-bottom: 1px solid $gray-lighter;
      .label {
        display: inline-block;
        margin: 6px 0;
        padding: 6px 4px;
        color: white;
        border-radius: 3px;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

/*** FOOTER ***/
.page-footer {
  .account-link {
    margin-right: 25px;
    i {
      font-size: $base-font-size;
    }
    span {
      font-size: $font-size-sm;
      vertical-align: middle;
    }
  }
}

.login-form {
  margin-top: 15px;
}
