.page-content.page-cms {
  background: none;
  font: $font;
  .cms-box {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

#cms {
  #content-wrapper {
    .block-cms {
      padding-bottom: 20px;
    }
    .material-design-ico, .fa {
      font: $font;
    }
    .fa:before {
      font-family: $font-awesome-icon;
    }
    .bottom-indent {
      margin-bottom: 30px;
    }
    .slick-dots {
      display: flex;
      justify-content: center;
      li {
        float: none;
        margin: 0 10px;
        background: $gray-lighter;
        padding: 4px;
        border-radius: 100%;
        font-size: 0;
        line-height: 0;
        button {
          font-size: 0;
          line-height: 0;
          width: 14px;
          height: 14px;
          border-radius: 100%;
          background: $gray-light;
          border: none;
        }
        &.slick-active, &:hover {
          background: lighten($brand-primary, 10);
          button {
            background: $brand-primary;
          }
        }
      }
    }
    .slick-list {
      z-index: 0;
    }
    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      background: none;
      font-size: 30px;
      line-height: 30px;
      @include transition(all 0.3s ease-in-out);
      color: $gray-darker;
      z-index: 4;
      margin: 0;
      &.slick-prev {
        left: 0;
      }
      &.slick-next {
        right: 0;
        left: auto;
      }
      &.slick-disabled {
        pointer-events: none;
        opacity: .5;
      }
      &:hover {
        color: $brand-primary;
      }
    }
    h1 {
      margin-bottom: 28px;
      font: bold 65px/85px $font-family;
      text-align: center;
      @include media-breakpoint-down(xs) {
        font: bold 40px/55px $font-family;
      }
    }
    h2 {
      font: bold 36px/45px $font-family;
      &.icon:before {
        line-height: 45px;
        font-size: 56px;
        display: inline-block;
        margin-right: 12px;
      }
      @include media-breakpoint-down(xs) {
        font: bold 26px/35px $font-family;
      }
    }
    h3 {
      font: bold 20px/30px $font-family;
      border-bottom: none;
      margin: 10px 0 26px;
      padding: 0;
      @include media-breakpoint-down(xs) {
        font: bold 16px/24px $font-family;
      }
    }
    h4 {
      font: bold 16px/30px $font-family;
      margin: 0 0 15px;
      &:after {
        display: none;
      }
      @include media-breakpoint-down(xs) {
        font: bold 14px/22px $font-family;
      }
    }
    .border_bottom {
      border-bottom: 1px solid $gray;
      padding: 0 50px 82px;
      margin-bottom: 69px;
      @include media-breakpoint-down(xs) {
        padding: 0 10px 32px;
        margin-bottom: 39px;
      }
    }
    .border_bottom2 {
      border-bottom: 1px solid $gray;
      padding: 0 0 70px;
      margin-bottom: 69px;
      @include media-breakpoint-down(xs) {
        padding: 0 0 32px;
        margin-bottom: 39px;
      }
    }
    ul {
      list-style: none;
    }
    .animateCount {
      li {
        text-align: center;
        font: bold 56px/45px $font-family;
        color: $gray-darker;
        padding: 6px 15px 0;
        @include media-breakpoint-only(sm) {
          font: bold 46px/35px $font-family;
        }
        @include media-breakpoint-down(xs) {
          width: 100%;
        }
        h3 {
          margin-top: 21px;
          @include media-breakpoint-only(sm) {
            font: bold 16px/24px $font-family;
          }
        }
      }
    }
    .iconBox {
      margin-bottom: 40px;
      li {
        padding-top: 41px;
        @include media-breakpoint-down(xs) {
          width: 100%;
        }
        > a {
          display: block;
          height: 270px;
          border-radius: 3px;
          color: $gray-darker;
          background: $gray-lighter;
          padding: 54px 50px 0;
          font: bold 20px/34px $font-family;
          text-transform: uppercase;
          text-align: center;
          @include transition(all 0.3s ease-in-out);
          cursor: pointer;
          &:before {
            font-size: 81px;
            line-height: 1;
            display: block;
            margin-bottom: 17px;
          }
          &:hover {
            background: $gray-darker;
            color: $light-color;
          }
          @include media-breakpoint-only(md) {
            padding: 54px 20px 0;
          }
        }
      }
    }
    .list-1 {
      list-style: none;
      li {
        padding: 4px 0 6px 0;
        font-weight: bold;
        color: $brand-success;
        border-top: 1px solid $gray;
        &:first-child {
          border: none;
        }
        em {
          font-size: 20px;
          line-height: 20px;
          padding-right: 15px;
          vertical-align: -2px;
        }
      }
    }
    .list-2 {
      padding-top: 40px;
      &.border_bottom {
        padding: 40px 0 40px;
      }
      li {
        clear: both;
        width: 100%;
        overflow: hidden;
        padding-bottom: 30px;
        i {
          font-size: 70px;
          line-height: 148px;
          width: 148px;
          height: 148px;
          text-align: center;
          background: $light-color;
          display: block;
          float: left;
          border-radius: 50%;
          margin-right: 35px;
          color: $gray-darker;
          margin-bottom: 10px;
          @include media-breakpoint-down(xs) {
            font-size: 40px;
            line-height: 100px;
            width: 100px;
            height: 100px;
          }
        }
      }
    }
    .list-3 {
      overflow: hidden;
      padding: 23px 0 64px;
      border: none;
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 15px;
        right: 15px;
        border-bottom: 1px solid $gray;
        bottom: 0;
      }
      li {
        padding-bottom: 20px;
      }
      &.countBox {
        counter-reset: li;
        li {
          h4 {
            &:before {
              display: inline-block;
              content: counter(li, decimal-leading-zero);
              counter-increment: li;
              font-size: 36px;
              line-height: 30px;
              margin-right: 15px;
              font-weight: 300;
              color: $gray;
            }
          }
        }
      }
      &.disk {
        padding-top: 31px;
        li {
          h4 {
            &:before {
              display: inline-block;
              content: "";
              height: 14px;
              width: 14px;
              background: $gray-darker;
              margin-right: 20px;
              border-radius: 50%;
              vertical-align: -1px;
            }
          }
        }
      }
    }
    .list-4 {
      li {
        text-align: center;
        padding-top: 14px;
        i {
          font-size: 86px;
          line-height: 1;
          color: $gray-darker;
          margin: 0 0 8px;
          display: inline-block;
        }
        @include media-breakpoint-down(xs) {
          width: 100%;
        }
        h3 {
          @include media-breakpoint-only(sm) {
            font: bold 16px/24px $font-family;
          }
        }
      }
    }
    #testimonials {
      li.testimonial {
        font: bold 16px/28px $font-family;
        text-transform: uppercase;
        text-align: center;
        padding: 5px 30px 40px;
        &:focus {
          outline: none;
        }
        @include media-breakpoint-down(xs) {
          font: normal 13px/22px $font-family;
        }
        i {
          font-size: 84px;
          line-height: 84px;
          color: $gray-darker;
          margin: 0 0 38px;
          text-align: center;
        }
        p {
          margin-bottom: 33px;
        }
      }
    }
    .list-accordion {
      > li {
        > h3 {
          margin-bottom: 9px;
          cursor: pointer;
          display: inline-block;
          transition: all 0.3s ease-in-out;
          &:hover, &.active {
            color: $brand-primary;
          }
          &:before {
            height: 41px;
            width: 41px;
            background: $gray-darker;
            color: $light-color;
            content: "+";
            line-height: 38px;
            font-size: 28px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 20px;
            text-align: center;
            vertical-align: -2px;
            margin-bottom: 10px;
          }
          &.active:before {
            content: "-";
          }
        }
        .list-3 {
          overflow: hidden;
          padding: 0 0 11px 60px;
          border: none;
          position: relative;
          @media (max-width: 480px) {
            padding: 0 0 11px 20px;
          }
          &:after {
            display: none;
          }
          li {
            padding-bottom: 0;
            h4 {
              margin-bottom: 13px;
            }
            &.text {
              margin-left: -60px;
              padding-bottom: 26px;
              @media (max-width: 480px) {
                margin-left: -20px;
              }
              &:before {
                display: none;
              }
            }
          }
        }
      }
    }
    img {
      margin: 4px 0 17px;
      max-width: 100%;
      height: auto;
    }
    .list-check {
      > li {
        > h3 {
          position: relative;
          margin-bottom: 9px;
          display: inline-block;
          padding-left: 45px;
          i {
            position: absolute;
            top: -10px;
            left: 0;
            font-size: 40px;
            margin-right: 10px;
            vertical-align: text-bottom;
          }
        }
        .list-3 {
          overflow: hidden;
          padding: 0 0 11px 60px;
          border: none;
          position: relative;
          @include media-breakpoint-down(xs) {
            padding: 0 0 11px 20px;
          }
          &:after {
            display: none;
          }
          li {
            padding-bottom: 0;
            h4 {
              margin-bottom: 13px;
            }
            &.text {
              margin-left: -60px;
              padding-bottom: 26px;
              @include media-breakpoint-down(xs) {
                margin-left: -20px;
              }
              &:before {
                display: none;
              }
            }
          }
        }
      }
    }
    img {
      margin: 4px 0 17px;
      max-width: 100%;
      height: auto;
    }
    #admin-action-cms {
      background: none repeat 0 0 $gray-lighter;
      border: 1px solid $gray;
      padding: 10px;
      p {
        margin: 0;
        span {
          display: block;
          padding-bottom: 10px;
          font-size: 14px;
          font-weight: bold;
          color: $brand-primary;
        }
        .btn {
          font: 700 17px/21px $font-family;
          border: 1px solid;
          padding: 10px 14px;
          display: inline-block;
          &.publish_button {
            color: #333;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
            border-color: #0079b6 #006fa8 #012740 #006fa8;
            background: rgb(0, 154, 208);
            background: -moz-linear-gradient(top, rgba(0, 154, 208, 1) 0%, rgba(0, 122, 183, 1) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 154, 208, 1)), color-stop(100%, rgba(0, 122, 183, 1)));
            background: -webkit-linear-gradient(top, rgba(0, 154, 208, 1) 0%, rgba(0, 122, 183, 1) 100%);
            background: -o-linear-gradient(top, rgba(0, 154, 208, 1) 0%, rgba(0, 122, 183, 1) 100%);
            background: -ms-linear-gradient(top, rgba(0, 154, 208, 1) 0%, rgba(0, 122, 183, 1) 100%);
            background: linear-gradient(to bottom, rgba(0, 154, 208, 1) 0%, rgba(0, 122, 183, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ad0', endColorstr='#007ab7', GradientType=0);
            &:hover {
              border-color: #01314e #004b74 #0079b6 #004b74;
              filter: none;
              background: #0084bf;
            }
          }
          &.lnk_view {
            color: $gray;
            text-shadow: 1px 1px rgba(255, 255, 255, 1);
            border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7;
            background: rgb(247, 247, 247);
            background: -moz-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(247, 247, 247, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
            background: -webkit-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 100%);
            background: -o-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 100%);
            background: -ms-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 100%);
            background: linear-gradient(to bottom, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ededed', GradientType=0);
            &:hover {
              border-color: #9e9e9e #9e9e9e #c8c8c8 #9e9e9e;
              filter: none;
              background: #e7e7e7;
            }
          }
        }
      }
    }
    .table.table-bordered thead > tr > th,
    .table.table-bordered thead > tr > td,
    .table.table-bordered > tbody > tr > th,
    .table.table-bordered > tbody > tr > td,
    .table.table-bordered > tfoot > tr > th,
    .table.table-bordered > tfoot > tr > td {
      @include media-breakpoint-down(sm) {
        padding: 9px 5px 11px 4px;
      }
    }
  }
  &.cms-pages-configuration .table {
    @include media-breakpoint-down(xs) {
      font-size: 10px;
    }
  }
}

#cms {
  &.two-columns .iconBox {
    li {
      @include media-breakpoint-up(md) {
        width: 50%;
      }
    }
  }
  &.three-columns .iconBox {
    li {
      @include media-breakpoint-up(md) {
        width: 100%;
      }
      @include media-breakpoint-up(lg) {
        width: 50%;
      }
    }
  }
  &.three-columns .animateCount {
    li {
      @include media-breakpoint-up(md) {
        width: 100%;
      }
      @include media-breakpoint-up(lg) {
        width: 50%;
      }
    }
  }
  &.three-columns .list-4 {
    li {
      @include media-breakpoint-up(md) {
        width: 100%;
      }
    }
  }
}