.dropdown {
  color: $gray-darker;
  .expand-more, i {
    transition: all 0.3s ease-in-out;
  }
  .expand-more {
    color: $gray-darker;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    font: $font;
  }
  .active {
    max-height: 200px;
    overflow-y: hidden;
    visibility: visible;
  }
  &:hover {
    .expand-more, i {
      color: $brand-primary;
    }
  }
}

.dropdown-item {
  padding: 0;
  color: $gray-darker;
  font: $font-md;
  &:focus, &:hover {
    background: none;
    text-decoration: none;
    color: $brand-primary;
  }
}



