#products,
#pagenotfound {
  #main {
    .page-header {
      text-align: center;
    }
    .page-content {
      margin-bottom: 120px;
    }
  }
  .page-not-found {
    border: solid 2px $gray;
    background: $light-color;
    padding: 25px;
    font-size: $font-size-sm;
    color: $gray-darker;
    max-width: 570px;
    margin: 0 auto;
    h4 {
      font: $font-subheading;
      margin: 10px 0 25px;
    }
    .search-widget {
      float: none;
      input {
        width: 100%;
      }
    }
  }
}
