.block-contact {
  .block-contact-wrapper {
    color: $footer-link-color;
    font: 600 12px/36px $font-family;
    margin-top: -7px;
  }
}

.linklist {
  .blockcms-title a {
    color: $gray-darker;
  }
}

.account-list a {
  color: $gray;
  &:hover {
    color: $brand-primary;
  }
}

.bottom-footer {
  padding-top: 23px;
  padding-bottom: 24px;
  > a {
    font: 600 14px/16px $font-family;
    color: $light-color;
    &:hover {
      color: $brand-primary;
    }
  }
}

.block-social {
  h3 {
    font: 700 24px/30px $font-family-primary;
    color: $gray-darker;
    + ul {
      margin-top: 27px;
    }
  }
  li {
    display: inline-block;
    background-image: none;
    word-spacing: normal;
    + li {
      margin-left: 10px;
    }
    a {
      display: block;
      position: relative;
      background: none;
      color: $light-color;
      overflow: hidden;
      border: none;
      z-index: 0;
      span {
        display: none;
      }
      &:before {
        font-size: 14px;
        line-height: 14px;
      }

      &:hover, &:active, &:focus, &:active:focus, &:active:hover, &:active.focus {
        color: $brand-primary;
      }
    }
  }
}

.facebook {
  a:before {
    @include addFontAwesomeIcon('\f09a');
  }
}

.twitter {
  a:before {
    @include addFontAwesomeIcon('\f099');
  }
}

.rss {
  a:before {
    @include addFontAwesomeIcon('\f09e');
  }
}

.youtube {
  a:before {
    @include addFontAwesomeIcon('\f167');
  }
}

.googleplus {
  a:before {
    @include addFontAwesomeIcon('\f0d5');
  }
}

.pinterest {
  a:before {
    @include addFontAwesomeIcon('\f0d2');
  }
}

.vimeo {
  a:before {
    @include addFontAwesomeIcon('\f27d');
  }
}

.instagram {
  a:before {
    @include addFontAwesomeIcon('\f16d');
  }
}

.footer-container {
  .footer-list {
    > li {
      a {
        color: $footer-link-color;
        font: $font-primary;
        font-family: $font-family;
        &:hover {
          color: $footer-link-color-hover;
        }
      }
      + li {
        margin-top: 11px;
      }
    }
  }
  .links {
    .collapse {
      display: inherit;
    }
  }
}

@include media-breakpoint-between(md, lg) {
  .footer-container {
    .media-breakpoint-between {
      > div {
        &:nth-child(4), &:nth-child(5) {
          margin-top: 60px;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .footer-container {
    .media-breakpoint-between {
      > div + div {
        margin-top: 10px;
      }
    }
    .title .footer-heading {
      padding-right: 20px;
    }
    .footer-list, .block-contact-wrapper {
      padding:10px;
    }
    .links {
      .title {
        cursor: pointer;
        .collapse-icons {
          position: absolute;
          right: 0;
          top: 0;
          padding: 0;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          font-size: 12px;
          line-height: 20px;
          .remove {
            display: none;
          }
          .add,
          .remove {
            transition: all 0.3s ease-in-out;
            font-size: 20px;
            line-height: 20px;
            color: $light-color;
            &:hover {
              color: $brand-primary;
            }
          }
        }
      }
      .title[aria-expanded="true"] .collapse-icons {
        .add {
          display: none;
        }
        .remove {
          display: block;
        }
      }
      .navbar-toggler {
        display: inline-block;
        padding: 0;
      }
      .collapse {
        display: none;
        &.show {
          display: block;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {

}
