/*
* @package      Style for Images Slider
* @description  This section holds specific style redeclarations for
*               Images Slider
*/

.homeslider-container {
  background: $light-color;
  overflow: hidden;
  position: relative;
  z-index: 0;
  margin-bottom: 37px;
  &:before {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    margin-right: -100px;
    content: '';
    width: 660px;
    height: 100%;
    transform: skewX(-20deg);
    background: #d2f1f7;
    background-image: linear-gradient(90deg, #d2f1f7, #d2f1f7 31.3%, #8dd6ea 31.3%, #8dd6ea 71.2%, #40acd7 71.2%, #40acd7);
  }
  /* Style slick slide */
  .slick-slide {
    height: auto;
  }
  .slick-slider .slick-list {
    .slick-slide {
      &:focus {
        outline: none;
      }
      > a {
        position: relative;
        display: block;
        > img {
          height: auto;
          max-width: 100%;
          display: inline-block;
        }
        .caption {
          position: absolute;
          top: 50%;
          left: 11%;
          transform: translateY(-50%);
          > div > * {
            margin: 0;
            color: $gray-darker;
          }
          .color-primary {
            color: $brand-primary;
          }
          h2, h3 {
            font-weight: 400;
            font-family: $font-family-primary;
          }
          h2 {
            font-size: 48px;
            line-height: 1.08;
          }
          h3 {
            font-size: 24px;
            line-height: 1.25;
          }
          p {
            margin-top: 10px;
            font-family: $font-family;
            font-weight: 600;
            line-height: 1.71;
            font-size: 14px;
          }
          .btn {
            margin-top: 25px;
          }
        }
      }
    }
  }
  /* Style dots */
  .slick-dots {
    position: absolute;
    bottom: 23px;
    right: 23px;
    display: flex;

    > li {
      button {
        width: 26px;
        height: 26px;
        border: solid 2px transparent;
        border-radius: 50%;
        color: $gray-darker;
        font-weight: 700;
        font-size: 12px;
        line-height: 22px;
        font-family: $font-family;
        background: transparent;
        text-align: center;
      }
      &.slick-active button, button:hover {
        border-color: $brand-primary;
      }
      + li {
        margin-left: 2px;
      }
    }
  }
}

/*** Responsive part ***/
.homeslider-container {
  @include media-breakpoint-down(lg) {
    .slick-slider .slick-list .slick-slide > a .caption {
      h2 {
        font-size: 40px;
      }
      h3 {
        font-size: 24px;
      }
      h2 + h3 {
        margin-top: 10px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    .slick-slider .slick-list .slick-slide > a .caption {
      h2 {
        font-size: 30px;
      }
      h3 {
        font-size: 18px;
      }
      p {
        line-height: 1.2;
        font-size: 12px;
      }
    }
    .slick-dots {
      bottom: 15px;
      right: 18px;
    }
  }
  @include media-breakpoint-down(md) {
    .slick-slider .slick-list .slick-slide > a .caption {
      .description {
        display: none;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &:before {
      width: 400px;
    }
  }
  @include media-breakpoint-down(xs) {
    &:before {
      width: 250px;
    }
    .slick-slider .slick-list .slick-slide > a .caption {
      left: 5%;
      h2 {
        font-size: 20px;
      }
      .btn {
        margin-top: 5px;
      }
    }
    .slick-dots {
      bottom: 10px;
      right: 10px;
    }
  }
}