#top-menu {
  margin-bottom: 37px;
  position: relative;
  z-index: 1;
}

.top-menu {
  &:not([data-depth="0"]) {
    background-color: $light-color;
    > li {
      position: relative;
      > a {
        color: $gray-darker;
        font: 600 14px/20px $font-family-primary;
        padding: 20px 10px 20px 30px;
        &:hover {
          background: $gray;
        }
      }
      + li {
        border-top: solid 1px $gray;
      }
    }
  }
  &[data-depth="1"],
  &[data-depth="2"] {
  }
  .has-submenu {
    &.active {
      > .js-sub-menu {
        display: block;
      }
    }
  }

  a:not([data-depth="0"]) {
    display: block;
  }
  a.dropdown-item {
    white-space: normal;
  }
  a[data-depth="0"] {
    background: $brand-primary;
    color: $light-color;
    text-transform: uppercase;
    font: 600 18px/24px $font-family-primary;
    padding: 18px 10px 18px 30px;
    &:hover {
      #header & {

      }
    }
  }
  a[data-depth="1"] {
    position: relative;
    z-index: 18;
    > li {

    }
  }
  a[data-depth="1"],
  a[data-depth="2"] {

  }
  a[data-depth="0"] + > .popover {
    display: block !important;
    position: relative;
  }
  .popover {
    border: none;
    padding: 0;
    left: 100%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.06);
    margin-left: 1px;
    top: 0;
    width: 100%;
  }
  .collapse {
    display: inherit;
  }
  .sub-menu {
    &.collapse {
      display: none;
    }

    ul[data-depth="1"] > li {
    }
  }
  .popover {
    max-width: inherit;
    border-radius: 0;
  }
}

.popover.bs-tether-element-attached-top {
  margin-top: 0;
}

/*** Responsive part ***/
.top-menu {
  @include media-breakpoint-down(lg) {
    a[data-depth="0"] {
      font-size: 14px;
      line-height: 20px;
      padding: 15px 10px;
    }
    &:not([data-depth="0"]) > li > a {
      font-size: 12px;
      line-height: 18px;
      padding: 15px 10px;
    }
  }
  @include media-breakpoint-down(md) {
    a[data-depth="0"] {
      font-size: 12px;
      line-height: 15px;
      padding: 12px 5px;
    }
    &:not([data-depth="0"]) > li > a {
      font-size: 11px;
      line-height: 14px;
      padding: 8px 5px;
    }
  }
  @include media-breakpoint-up(md) {
    > li.has-submenu {
      > a {
        padding-right: 20px;
        &:before {
          position: absolute;
          @include addMaterialIcon('\E315');
          right: 5px;
          top: 16px;
          font-size: 14px;
          line-height: 1;
          z-index: 20;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    > li.has-submenu > a {
      padding-right: 20px;
      &:before {
        font-size: 18px;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    > li.has-submenu > a {
      &:before {
        top: 20px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    > li {
      position: relative;
      z-index: 0;
      &.has-submenu {
        > a {
          padding-right: 35px;
        }
        .submenu-toggle {
          position: absolute;
          right: 0;
          top: 0;
          font-size: 18px;
          line-height: 32px;
          transition: all 0.3s ease-in-out;
          transform-origin: 50% 50%;
          color: $gray-darker;
          will-change: transform;
          margin: 0;
          z-index: 20;
          width: 32px;
          height: 32px;
          text-align: center;
          cursor: pointer;
        }
        .submenu-toggle:hover, &.active .submenu-toggle {
          color: $brand-primary;
        }
        &.active .submenu-toggle {
          transform: rotate(-180deg);
        }
      }
    }
    .popover {
      position: static;
      box-shadow: none;
      margin: 0;
      border-top: solid 1px $gray;
      > ul > li > a {
        padding-left: 20px;
      }
    }
  }
}