#product {
  #content {
    position: relative;
    max-width: 452px;
    margin: 0 auto;
  }
}

.product-price {
  color: $brand-primary;
  display: inline-block;
}

#product-description-short {
  color: $gray-darker;
}

.product-information {
  font-size: $font-size-lg;
  color: $gray-darker;

  .manufacturer-logo {
    height: 35px;
  }

  .product-description img {
    max-width: 100%;
  }
}

.input-color {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 26px;
  width: 26px;
  + span {
    transition: all 0.3s ease-in-out;
  }
}

.input-container {
  position: relative;
}

.input-radio {
  position: absolute;
  top: 0;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.input-color {
  &:checked,
  &:hover {
    + span {
      border: 2px solid $gray-darker;
      color: $gray-darker;
    }
  }
}

.input-radio {
  &:checked,
  &:hover {
    + span {
      border: 2px solid $brand-primary;
      color: $brand-primary;
    }
  }
}

.radio-label {
  background: white;
  display: inline-block;
  padding: 5px;
  font-weight: 600;
  border: 2px solid $gray-darker;
  transition: all 0.3s ease-in-out;
}

.product-actions {
  .control-label {
    width: 100%;
    margin-bottom: 10px;
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color: $gray-darker;
  }
}

.all-product-link {
  margin-top: 30px;
  margin-bottom: 30px;
}

.product-quantity-wrapper {
  margin-right: 50px;
}

.product-quantity-wrapper, .add {
  margin-bottom: 10px;
}

.product-quantity {
  .qty {
    float: left;
    width: 100px;
    position: relative;
  }
  .add {
    float: left;
    margin-left: 25px;
  }
  .bootstrap-touchspin {
    box-shadow: none;
    z-index: 0;
  }
  #quantity_wanted {
    color: $gray-darker;
    background-color: transparent;
    border: none;
    height: 50px;
    line-height: 50px;
    padding: 5px 30px 5px 10px;
    width: 100px;
    box-shadow: inset 0 0 0 2px $gray-darker;
    transition: all 0.3s ease-in-out;
    text-align: center;
    &:focus {
      box-shadow: inset 0 0 0 2px $brand-primary;
    }
  }

  .input-group-btn-vertical {
    position: static;
    display: inline-block;
    .btn {
      position: absolute;
      padding: 0;
      width: 23px;
      height: 23px;
      right: 2px;
      color: $gray-darker;
      box-shadow: none;
      border: none;
      z-index: 3;
      i {
        position: static;
        font-size: 23px;
        line-height: 23px;
        width: auto;
        height: auto;
        top: auto;
        left: auto;
      }
      &.bootstrap-touchspin-up {
        top: 2px;
      }
      &.bootstrap-touchspin-down {
        bottom: 2px;
      }
      &:hover {
        color: $light-color;
        background: $gray-darker;
        box-shadow: none;
      }
    }

  }
  .btn-touchspin {
    height: 25px;
  }
}

.product-add-to-cart {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-top: $small-space;
}

.product-discounts {
  > .product-discounts-title {
    font-weight: normal;
    font-size: $font-size-sm;
  }
  > .table-product-discounts {
    thead tr th {
      width: 33%;
      padding: $small-space $medium-space;
      background: white;
      border: 4px $gray-light solid;
      text-align: center;
    }
    tbody tr {
      background: $gray-lighter;
      &:nth-of-type(even) {
        background: white;
      }
      td {
        padding: $small-space $medium-space;
        text-align: center;
        border: 4px $gray-light solid;
      }
    }
  }
}

.product-prices {
  margin-top: $medium-space;
  margin-bottom: 30px;
  .tax-shipping-delivery-label {
    font-size: 18px;
    line-height: 20px;
    color: $gray-darker-primary;
  }
  .price {

  }
}

.has-discount {
  &.product-price, p {
    color: $brand-secondary;
  }
}

.product-discount {
  color: $gray-darker;
  .daydeal-box {
    padding: 0;
    margin-top: 20px;
  }
}

.product-unit-price {
  font-size: $font-size-xs;
  margin-bottom: 0;
}

.tabs {
  margin-top: 100px;
  margin-bottom: 100px;
  .tab-pane {

    > div + div {
      margin-top: 10px;
    }
  }
  .nav-tabs {
    border: none;
    word-spacing: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-link {
      color: $gray-darker;
      border: none;
      font: 700 18px/22px $font-family-primary;
      text-transform: uppercase;
      padding: 0 0 10px 0;
      position: relative;
      text-align: center;
      &:before {
        position: absolute;
        content: '';
        height: 2px;
        width: 0;
        left: 0;
        background: $brand-primary;
        bottom: 0;
        transition: all 0.3s ease-in-out;
        opacity: 0;
      }
      &.active, &:hover {
        border: none;
        color: $brand-primary;
        &:before {
          opacity: 1;
          width: 100%;
        }
      }
      &.active {
        pointer-events: none;
        cursor: default;
      }
    }
    .nav-item {
      display: inline-block;
      word-spacing: normal;
      margin-bottom: 0;
      + .nav-item {
        margin-left: 30px;
      }
    }
  }
  .tab-content {
    background: $header-background;
    padding: 40px 30px;
    margin-top: 40px;
    .product-manufacturer {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      @include media-breakpoint-up(sm) {
        width: 50%;
      }
      @include media-breakpoint-up(lg) {
        width: 30%;
      }
    }
    .img-thumbnail {
      border: none;
    }
  }
  #block-reassurance {
    width: 50%;
    margin: 0 auto;
  }
}

.product-cover {
  margin-bottom: $medium-space;
  position: relative;
  img {
    background: $product-background;
  }
  .layer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    cursor: pointer;
    @include transition(opacity .7s ease-in-out);
    &:hover {
      opacity: 1;
    }
    .zoom-in {
      font-size: 60px;
      line-height: 60px;
      color: $brand-primary;
    }
  }
}

#product-modal {
  .modal-dialog {
    max-width: 1020px;
    margin: 10px auto;
  }
  .modal-content {
    background: transparent;
    box-shadow: none;
    padding: 0;
    .modal-body {
      display: flex;
      margin-left: 0;
      figure {
        width: 80%;
        margin: 0 auto;
        box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .2);
        display: flex;
        flex-direction: column;
        img {
          max-width: 100%;
          display: block;
        }
      }
      .product-cover-modal {
        background: $light-color;
        padding: 20px;
      }
      .image-caption {
        background: $light-color;
        padding: 10px 20px;
        border: none;
        margin-top: -1px;
        p {
          margin-bottom: 0;
        }
      }
      .thumbnails {
        position: relative;
        @include media-breakpoint-up(xl) {
          margin-left: $extra-large-space;
        }
      }
      .mask {
        position: relative;
        overflow: hidden;
        max-height: 644px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        z-index: 1;
        &.nomargin {
          margin-top: 0;
        }
      }
      .product-images {
        img {
          width: 141px;
          cursor: pointer;
          background: $light-color;
          padding: 0;
          &:hover {
            box-shadow: inset 0px 0px 0px 2px rgba($brand-primary, 1);
          }
        }
      }
      .arrows {
        height: 100%;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 0;
        z-index: 0;
        left: 0;
        right: 0;
        .arrow-up, .arrow-down {
          cursor: pointer;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
        .arrow-up {
          top: -.3rem;
          opacity: 0.2;
        }
        .arrow-down {
          bottom: 0;
        }
        i {
          font-size: 50px;
          line-height: 50px;
          display: inline;
          color: $light-color;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: $brand-primary;
          }
        }
      }
    }
  }
}

#blockcart-modal {
  color: $gray-darker;

  .modal-content {
    margin: 0 15px;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-header {
    padding: 0;
    border: none;
  }
  .modal-body {
    background: $light-color;
    padding: 35px;
    position: relative;
    z-index: 0;
    @include media-breakpoint-down(md) {
      padding: 0;
    }
    button.close {
      float: none;
      position: absolute;
      right: 10px;
      top: 10px;
    }
    .blockcart-display {
      .product-cart-content, .cart-content {
        padding-top: 3px;
        padding-bottom: 30px;
        @include media-breakpoint-down(sm) {
          padding: 20px 0;
        }
      }
      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
    }
  }
  .modal-dialog {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    @include media-breakpoint-down(sm) {
      max-width: 500px;
    }
  }
  .product-image {
    width: 100%;
    display: block;
    margin-top: 20px;
    @include media-breakpoint-down(sm) {
      width: 80%;
      margin: 20px auto 0;
    }
  }
  .modal-title {
    color: $gray-darker;
    font: $font-modal-title;
    position: relative;
    padding-left: 30px;
    i {
      position: absolute;
      top: 3px;
      left: 0;
      width: auto;
      height: auto;
      font-size: 24px;
      line-height: 24px;
      color: $brand-primary;
    }
  }
  .product-name {
    pointer-events: none;
  }
  .product-price {
    display: block;
    margin-top: 10px;
    .price {
      margin-bottom: 0;
    }
  }
  .cart-products-count {
    color: $gray-darker;
    font: $font-modal-title;
    position: relative;
    padding-left: 30px;
    i {
      position: absolute;
      top: 3px;
      left: 0;
      width: auto;
      height: auto;
      font-size: 24px;
      line-height: 24px;
      color: $brand-primary;
    }
    + p {
      margin-top: 30px;
    }
  }
  .product-cart-content {
    padding-right: $small-space;
    @include media-breakpoint-down(sm) {
      padding: 30px 0;
    }
  }
  .product-information {
    margin-top: 10px;
    .product-image {
      width: 50%;
      margin: 0 auto;
      background: $product-background;
      padding: 10px;
    }
    .product-name, .product-price {
      text-align: center;
    }
    .product-attributes {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 15px;
      span {
        display: block;
        margin-bottom: 5px;
        font-weight: 600;
      }
      span, p {
        font: $font-md;
      }
    }
  }
  .cart-content {
    padding-left: $large-space;
    p:not(.cart-products-count) {
      margin-bottom: 0;
      color: $gray-darker;
      font: $font-md;
      font-weight: 600;
      strong {
        font-weight: 700;
      }
      + p {
        margin-top: 5px;
      }
    }
    .btn-cart-products {
      margin-top: $small-space;
      .btn {
        min-width: 235px;
        margin-top: $small-space;
      }
      @include media-breakpoint-down(sm) {
        text-align: center;
        .btn-lg {
          padding: 15px 20px;
        }
      }
    }
  }
  .divide-right {
    @include media-breakpoint-up(md) {
      border-right: $gray-light 1px solid;
    }
    @include media-breakpoint-down(sm) {
      border-bottom: $gray-light 1px solid;
    }
  }
  @include media-breakpoint-down(lg) {
    .cart-products-count, .modal-title {
      font-size: 20px;
      line-height: 24px;
      padding-left: 23px;
      i {
        top: 1px;
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
}

.product-images {
  list-style-type: none;
  word-spacing: -4px;
  margin-bottom: 0;
  text-align: center;
  .slick-track {
    margin: 0 auto;
  }
  li.thumb-container {
    display: inline-block;
    margin: 10px 0;
    padding: 0 4px;
    word-spacing: normal;
    &:focus {
      outline: none;
    }
    > .thumb {
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      position: relative;
      z-index: 0;
      background: $product-background;
      padding: 4px;
      box-shadow: inset 0 0 0 2px rgba($brand-primary, 0);
      max-width: 100%;
      margin: 0 auto;
      opacity: 0.7;
      &.selected,
      &:hover {
        opacity: 1;
        background: $product-background;
        box-shadow: inset 0 0 0 2px rgba($brand-primary, 0.5);
      }
    }
  }
}

#main {
  .images-container {
    .js-qv-mask {
      &.scroll {
        width: calc(100% - 136px);
        margin: 0 auto;
        @media (max-width: 1259px) {
          width: calc(100% - 109px);
        }
        @include media-breakpoint-down(lg) {
          width: calc(100% - 115px);
        }
        @include media-breakpoint-down(sm) {
          width: calc(100% - 20%);
        }
        @include media-breakpoint-down(xs) {
          width: calc(100% - 40%);
        }
      }
    }
  }
}

.slick-slide:focus {
  outline: none;
}

.slick-arrow {
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: $gray-darker;
  background: transparent;
  transition: all 0.3s ease-in-out;
  font-size: 30px;
  line-height: 30px;
  width: auto;
  height: auto;
  text-align: center;
  padding: 0;
  z-index: 2;
  &.slick-prev {
    right: 100%;
    margin-right: 20px;
  }
  &.slick-next {
    left: 100%;
    margin-left: 20px;
  }
  &:hover {
    color: $brand-primary;
  }
  &.slick-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.products-in-carousel {
  .slick-arrow {
    top: 40%;
    @media (max-width: 1329px) {
      &.slick-prev {
        margin-right: -30px;
      }
      &.slick-next {
        margin-left: -30px;
      }
    }
  }
}

.layout-left-column, .layout-right-column, .layout-both-columns {
  .products-in-carousel {
    .slick-arrow {
      &.slick-prev {
        margin-right: -30px;
      }
      &.slick-next {
        margin-left: -30px;
      }
    }
  }
}

#product-availability {
  display: none;
  font-weight: 700;
  color: $light-color;
  position: relative;
  padding: 11px 20px 11px 35px;
  letter-spacing: $letter-spacing-primary;
  .material-icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 20px;
    line-height: 20px;
    width: auto;
    height: auto;
  }
  &.product-available {
    background: $brand-success;
  }
  &.product-last-items {
    background: $brand-warning;
  }
  &.product-unavailable {
    background: $gray-darker-primary;
  }
}

#product-details {
  .label {
    color: $gray-darker;
    font-weight: bold;
  }
}

.product-features {
  margin-top: $medium-space;
  h3 {
    font: 600 22px/26px $font-family;
  }
  > dl.data-sheet {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    dd.value,
    dt.name {
      flex: 1 0 40%;
      font-weight: normal;
      background: $gray-light-primary;
      color: $gray-primary;
      padding: $small-space;
      margin-right: $small-space;
      min-height: 45px;
      word-break: normal;
      &:nth-of-type(even) {
        background: $gray-darker-primary;
        color: $light-color;
      }
    }
    dt.name {
      text-transform: capitalize;
    }
  }
}

.product-variants {
  display: flex;
  flex-wrap: wrap;
  > .product-variants-item {
    margin: $small-space 60px $small-space 0;
    select {
      background-color: $light-color;
      width: 110px;
      padding-right: 25px;
      &::-ms-expand { display: none; }
    }
    ul li {
      margin-right: 10px;
    }
    .color {
      width: 26px;
      height: 26px;
      margin-left: 0;
      margin-top: 0;
      border-radius: 0;
    }
  }
}

.product-flags {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

li.product-flag {
  display: inline-block;
  padding: 7px 12px;
  color: $light-color;
  background: $gray-darker;
  font: 700 14px/16px $font-family-primary;
  text-transform: uppercase;
  position: absolute;
  top: 11px;
  z-index: 10;
  text-align: center;
  &.online-only {
    background: $brand-secondary;
    left: 11px;
    + .on-sale {
      margin-top: 33px;
    }
  }
  &.discount {
    display: none;
  }
  &.pack {
    background: $brand-primary;
    right: 11px;
  }
  &.on-sale {
    background: $brand-secondary-1;
    left: 11px;
  }

  &.new {
    right: 11px;
    + .pack {
      margin-top: 33px;
    }
  }
  @include media-breakpoint-up(xl) {
    &.new, &.pack {
      min-width: 61px;
    }
  }
  @include media-breakpoint-down(lg) {
    font-size: 11px;
    line-height: 12px;
    padding: 5px 9px 4px;
    &.new, &.pack {
      min-width: 45px;
    }
    &.new + .pack, &.online-only + .on-sale {
      margin-top: 24px;
    }
  }
}

.current-price {
  > span {
    display: inline-block;
    margin-right: 15px;
  }
}

.product-customization {
  margin: 30px 0;
  h3 {
    font: 400 30px/34px $font-family;
  }
  .product-customization-item {
    margin: $medium-space 0;
    label {
      margin-bottom: 10px;
      display: inline-block;
    }
    .customization-image {
      display: inline-block;
      max-width: 100%;
      height: auto;
      margin: 0 10px 20px 0;
    }
  }
  .product-message {
    background: $gray-light;
    border: solid 2px $gray-light;
    width: 100%;
    height: 80px;
    resize: none;
    padding: 20px 18px;
    transition: all 0.3s ease-in-out;
    &:focus {
      border-color: $brand-primary;
      outline: none;
    }
  }
  .file-input {
    width: 100%;
    opacity: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    height: $input-height;
    overflow: hidden;
    position: absolute;
  }

  .customization-message {
    margin-top: 20px;
  }
  .custom-file {
    position: relative;
    background: $gray-light;
    width: 100%;
    height: $input-height;
    line-height: $input-height;
    text-indent: 20px;
    display: block;
    color: $gray-darker;
    z-index: 0;
    overflow: hidden;
    .js-file-name {
      white-space: nowrap;
    }
    button {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
    }
    .btn-lg {
      padding: 13px 22px 12px;
    }
    .btn-primary {
      &:hover, &:active, &:focus, &:active:focus, &:active:hover, &:active.focus {
        color: $light-color;
        background: $gray-darker;
        box-shadow: inset 0 0 0 2px $gray-darker;
      }
    }
    &:hover {
      .btn-primary {

      }
    }
  }
  small {
    color: $gray-darker-primary;
  }
}

.product-pack {
  margin-top: $small-space;
  h3 {
    font: 400 30px/34px $font-family;
  }
  .card {
    box-shadow: none;
  }
  > article {
    margin-top: 10px;
  }
  .pack-product-container {
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
    .pack-product-price-wrap {
      display: flex;
      .pack-product-price {
        padding-right: 10px;
      }
    }
    .thumb-mask {
      .mask {
        border: none;

      }
    }
    .pack-product-name {
      flex: 0 0 50%;
      font: $font-heading;
      color: $gray-darker;
    }
    .pack-product-quantity {
      border-left: $gray-light 1px solid;
      padding-left: $small-space;
      color: $gray-darker;
      white-space: nowrap;
    }
    .pack-product-price {
      font: $price-font-primary;
      color: $gray-darker;
    }
    .pack-product-name,
    .pack-product-price,
    .pack-product-quantity {
      display: flex;
      align-items: center;
    }
  }
}

.product-refresh {
  margin-top: $medium-space;
}

.social-sharing {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 30px;
  ul {
    margin-bottom: 0;
  }
  li {
    @include box-shadow-light;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: 6px 6px;
    cursor: pointer;
    margin-left: 10px;
    @include transition(all .2s ease-in);
    a {
      display: block;
      width: 100%;
      height: 100%;
      white-space: nowrap;
      text-indent: 100%;
      overflow: hidden;
      &:hover {
        color: transparent;
      }
    }
  }
}

.products-selection {
  margin-bottom: $medium-space;
  .title {
    color: $gray;
  }
}

.product-detail-wrap {
  h1 {
    margin-top: 0;
    font-family: $font-family-primary;
    font-weight: 400;
    line-height: 1.2;
    font-size: 40px;
    text-transform: none;
  }
}

/*** Responsive part ***/
@include media-breakpoint-between(md, lg) {
  .layout-left-column, .layout-right-column {
    .product-left-column, .product-right-column {
      flex: 0 0 100%;
      max-width: 100%;
      .page-content {
        width: 60%;
        margin: 0 auto;
      }
    }
    .product-right-column {
      margin-top: 60px;
    }
  }
  .tabs {
    .nav-tabs {
      .nav-link {
        font-size: 16px;
        line-height: 20px;
      }
      .nav-item + .nav-item {
        margin-left: 20px;
      }
    }
    .tab-content {
      margin-top: 30px;
      padding: 30px 20px;
    }
  }
}

@include media-breakpoint-up(md) {
  .product-prices {
    .price {
      font-size: 26px;
      line-height: 26px;
    }
    .regular-price, .discount-percentage {
      font-size: 20px;
    }
  }
}

@include media-breakpoint-up(xl) {
  #product-modal .modal-content .modal-body {
    .thumbnails {
      width: 266px;
    }
  }
  .product-prices {
    .price {
      font-size: 34px;
      line-height: 34px;
    }
    .regular-price, .discount-percentage {
      font-size: 22px;
    }
  }
  .product-detail-wrap .daydeal-box {
    > div {
      > span {
        font-size: 20px;
        line-height: 24px;
        > span {
          font-size: 20px;
          line-height: 24px;
        }
        + span:before {
          font-size: 18px;
          line-height: 18px;
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .product-detail-wrap h1 {
    font-size: 34px;
  }
  .product-prices {
    margin-bottom: 26px;
  }
  .current-price > span {
    margin-right: 10px;
  }
  .product-discount .daydeal-box {
    margin-top: 15px;
  }
  .product-customization {
    margin: 25px 0;
  }
  #product-availability {
    font-size: 14px;
    line-height: 16px;
    padding: 8px 15px 8px 30px;
    .material-icons {
      left: 7px;
      font-size: 18px;
      line-height: 18px;
    }
  }
  .product-quantity-wrapper {
    margin-right: 30px;
  }
  .tabs #block-reassurance {
    width: 80%;
  }
  #product-modal {
    .modal-dialog {
      max-width: 700px;
      .modal-content {
        .image-caption, .product-cover-modal {
          width: 100%;
        }
        .modal-body {
          flex-direction: column;
          .mask {
            display: block;
            top: 0;
            left: 0;
            right: 0;
            transform: translateY(0);
          }
          .arrows {
            display: none;
          }
        }
      }
    }
  }
  .product-images li.thumb-container {
    width: 100px;
  }
  .product-variants > .product-variants-item {
    margin-right: 30px;
  }
  .tabs {
    .tab-content {
      margin-top: 30px;
      padding: 30px 20px;
    }
  }
}

@include media-breakpoint-down(md) {
  .product-detail-wrap h1 {
    font-size: 30px;
  }
  .product-right-column {
    .daydeal-box h3, .product-customization h3 {
      font-size: 24px;
      line-height: 28px;
    }
  }
  .product-cover {
    img {
      width: 100%;
    }
  }
  #product-modal {
    .modal-dialog {
      max-width: 600px;
    }
    .modal-content .modal-body figure {
      width: 100%;
    }
    .modal-content .modal-body .product-images img {
      &:hover, &.selected {
        box-shadow: inset 0px 0px 0px 2px rgba($brand-primary, 1);
      }
    }
  }
  #blockcart-modal {
    .modal-body {
      padding: 25px;
    }
  }
  .product-images li.thumb-container {
    width: 80px;
  }
}

@include media-breakpoint-up(sm) {
  .layout-both-columns {
    .product-left-column, .product-right-column {
      flex: 0 0 100%;
      max-width: 100%;
      .page-content {
        width: 100%;
        margin: 0 auto;
      }
    }
    .product-right-column {
      margin-top: 60px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .product-customization .custom-file {
    .btn-group-lg > .btn, .btn-lg {
      font-size: 14px;
    }
  }
  .product-right-column {
    margin-top: 30px;
    .price, .regular-price {
      font-size: 20px;
      line-height: 25px;
    }
    .daydeal-box {
      > div > span {
        > span {
          font-size: 16px;
          line-height: 26px;
          padding-left: 2px;
        }
        + span {
          padding-left: 7px;
          margin-left: 7px;
        }
      }
    }
  }
  #blockcart-modal {
    .divide-right {
      border-right: none;
    }
    .modal-body {
      padding: 25px;
    }
  }
  .tabs {
    margin-top: 50px;
    margin-bottom: 50px;
    .nav-tabs {
      justify-content: flex-start;
      flex-direction: column;
      align-items: inherit;
      .nav-item {
        + .nav-item {
          margin-left: 0;
          margin-top: 10px;
        }
        .nav-link {
          position: relative;
          padding-right: 20px;
          text-align: left;
          &:after {
            position: absolute;
            @include addMaterialIcon('\E313');
            font-size: 20px;
            line-height: 20px;
            right: 0;
            top: 0;
            transition: all 0.3s ease-in-out;
            will-change: transform;
            transform-origin: 50% 50%;
          }
          &.active {
            &:after {
              transform: rotate(-180deg);
            }
          }
        }
      }
    }
    #block-reassurance {
      width: 100%;
    }
  }
  .product-features {
    > dl.data-sheet {
      dd.value,
      dt.name {
        flex: 1 0 40%;
        padding: 15px;
      }
      dd.value {
        margin-top: 2px;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .product-features {
    > dl.data-sheet {
      dd.value,
      dt.name {
        flex: 1 0 100%;
      }
    }
  }
}

@include media-breakpoint-only(md) {
  .layout-both-columns {
    #main {
      .images-container {
        .js-qv-mask {
          &.scroll {
            width: calc(100% - 60px);
          }
        }
      }
    }
    .slick-arrow.slick-prev {
      margin-right: 0;
    }
    .slick-arrow.slick-next {
      margin-left: 0;
    }
    .product-customization {
      .product-message {
        padding: 10px;
      }
      .custom-file {
        text-indent: 10px;
        .btn-group-lg > .btn, .btn-lg {
          font-size: 12px;
          padding: 13px 10px 12px;
        }
      }
    }
    .product-right-column {
      button {
        font-size: 10px;
        padding: 10px 5px;
      }
      .daydeal-box {
        > div > span {
          font-size: 12px;
          line-height: 16px;
          > span {
            font-size: 12px;
            line-height: 16px;
            padding-left: 2px;
          }
          + span {
            padding-left: 4px;
            margin-left: 4px;
            &:before {
              font-size: 11px;
              line-height: 11px;
            }
          }
          &:last-child {
            display: none;
          }
        }
      }
    }
    .product-quantity {
      #quantity_wanted {
        height: 48px;
        line-height: 38px;
        font-size: 16px;
      }
      .input-group-btn-vertical .btn {
        width: 22px;
        height: 22px;
        i {
          font-size: 20px;
          line-height: 20px;;
        }
      }
    }
    .tabs {
      margin-top: 50px;
      margin-bottom: 50px;
      .nav-tabs {
        justify-content: flex-start;
        flex-direction: column;
        align-items: inherit;
        .nav-item {
          + .nav-item {
            margin-left: 0;
            margin-top: 10px;
          }
          .nav-link {
            position: relative;
            padding-right: 20px;
            text-align: left;
            &:after {
              position: absolute;
              @include addMaterialIcon('\E313');
              font-size: 20px;
              line-height: 20px;
              right: 0;
              top: 0;
              transition: all 0.3s ease-in-out;
              will-change: transform;
              transform-origin: 50% 50%;
            }
            &.active {
              &:after {
                transform: rotate(-180deg);
              }
            }
          }
        }
      }
      .tab-pane {
        padding-top: 20px;
      }
      #block-reassurance {
        width: 100%;
      }
      .tab-content .product-manufacturer {
        width: 100%;
      }
    }
    .product-features {
      > dl.data-sheet {
        dd.value,
        dt.name {
          flex: 1 0 100%;
          padding: 15px;
        }
        dd.value {
          margin-top: 2px;
        }
      }
    }
  }
}


