.quickview {
  .quickview-display {
    display: flex;
    margin: 0;
    > div {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    h1 {
      font-family: $font-family-primary;
      font-weight: 400;
      line-height: 1.2;
      font-size: 40px;
      text-transform: none;
    }
    .product-cover {
      img {
        padding: 0;
        width: 100%;
      }
    }
    #product-description-short {
      display: none;
    }
    .social-sharing-buttons {
      span {
        display: none;
      }
    }
  }
  .modal-dialog {
    max-width: 960px;
    padding: 0 30px;
  }
  .modal-content {
    min-height: 300px;
  }
  .modal-header {
    border: none;
    padding: 0;
  }
  .modal-body {
    padding: 0;
    min-height: 300px;
  }
  .modal-footer {
    border: none;
    margin-top: 0;
    padding: 0;
  }
  .layer {
    display: none;
  }
  .product-cover img {
    width: 95%;
  }
  .images-container {
    .js-qv-product-images {
      padding: 0 35px;
    }
    .product-images li.thumb-container {
      margin: 0 4px;
      width: 80px;
      > .thumb {
        cursor: pointer;
        width: 100%;
        background: $product-background;
        opacity: 0.7;
        transition:all 0.3s ease-in-out;
        box-shadow:inset 0px 0px 0px 2px rgba($brand-primary, 0);
        &.selected, &:hover {
          opacity: 1;
          box-shadow:inset 0px 0px 0px 2px rgba($brand-primary, 0.5);
        }
      }
    }
  }
  .mask {
    margin-top: 20px;
    width: 100%;
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    z-index: 2;
    width: auto;
    height: auto;
    color: $gray-darker;
    background: transparent;
    transition: all 0.3s ease-in-out;
    border: none;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    padding: 0;
    &.slick-prev {
      right: 100%;
      margin-right: -30px;
    }
    &.slick-next {
      left: 100%;
      margin-left: -30px;
    }
    &:hover {
      color: $brand-primary;
    }
    &.slick-disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  .social-sharing {
    margin-top: 25px;
  }
  .product-variants>.product-variants-item {
    margin-right: 30px;
  }
  .product-prices {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

/*** Responsive part ***/
@include media-breakpoint-up(xl) {
  .quickview {
    .images-container .js-qv-product-images {
      padding: 0 60px;
    }
  }
}

@include media-breakpoint-down(lg) {
  .quickview .quickview-display{
    h1 {
      font-size: 30px;
      line-height: 34px;
    }
  }
}