.sitemap-title {
  text-transform: capitalize;
}

.sitemap {
  margin-top: 20px;
  > div + div {
    margin-top: 20px;
  }
  h1 {
    color: $gray-darker;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 34px;
    font-weight: 400;
    width: 100%;
    position: relative;
    margin-bottom: 0;
    padding: 10px 35px 10px 20px;
    background: #f3f3f3;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:before {
      position: absolute;
      @include addMaterialIcon('\E313');
      font-size: 30px;
      line-height: 30px;
      right: 10px;
      top: 12px;
      will-change: transform;
      transform-origin: 50% 50%;
    }
    &:not(.collapsed) {
      &:before {
        transform: rotate(-180deg);
      }
    }
    &:hover {
      background: $gray-lighter;
    }
  }
  .page-subheading {
    font: $font-subheading;
  }
  .sitemap_block {
    margin: 0 0 30px;
    .page-subheading, ul.tree > li > a {
      position: relative;
      display: block;
      margin: 0;
      font: bold 30px/34px $font-family;
      padding: 0 50px 22px 0;
      border-bottom: solid 1px $gray;
      &.accordion_current {
        &:after {
          display: block;
          @include addFontAwesomeIcon('\f107');
          position: absolute;
          right: 0;
          top: 0;
          font-size: 41px;
          line-height: 36px;
          width: 35px;
          font-weight: normal;
          transition: all 0.3s ease-in-out;
        }
        &.active:after {
          content: "\f106";
        }
      }
    }
    .page-subheading.accordion_current {
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: $brand-primary;
        &:after {
          color: $brand-primary;
        }
      }
    }
    .accordion_content {
      padding-top: 18px;
      li {
        padding: 5px 0;
        font: $font;
      }
    }
    ul.tree {
      > li {
        margin: 0 0 30px;
        .page-subheading.accordion_current {
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            a {
              color: $brand-primary;
            }
            &:after {
              color: $brand-primary;
            }
          }
        }
        .accordion_content {
          overflow: hidden;
          > li {
            width: (100%/5);
            float: left;
            padding: 0 10px 20px 0;

            &:nth-child(5n+1) {
              clear: left;
            }
            @media (min-width: 992px) and (max-width: 1199px) {
              width: (100%/4);
              &:nth-child(4n+1) {
                clear: left;
              }
            }
            @media (min-width: 768px) and (max-width: 991px) {
              width: (100%/3);
              &:nth-child(3n+1) {
                clear: left;
              }
            }
            @media (max-width: 767px) {
              width: (100%/2);
              &:nth-child(2n+1) {
                clear: left;
              }
            }
            @media (max-width: 480px) {
              width: 100%;
            }
            > a {
              padding: 5px 0 10px;
              display: inline-block;
              font: bold 16px/26px $font-family;
            }
          }
        }
      }
    }
  }
  ul {
    margin-left: 15px;
    margin-top: 20px;
    margin-right: 10px;
    &.nested {
      margin-left: 20px;
      margin-right: 15px;
    }

    li {
      font-size: 20px;
      margin-bottom: 25px;
      position: relative;
      padding-right: 30px;
      .custom-toggle {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
  .custom-toggle {
    i {
      font-size: 30px;
      line-height: 30px;
      width: auto;
      height: auto;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
    }
    &.collapsed.el-1, &:not(.collapsed) .el-2 {
      display: block;
    }
    &.collapsed .el-2, &:not(.collapsed) .el-1 {
      display: none;
    }
    &:hover {
      i {
        color: $brand-primary;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .sitemap {
    margin-top: 0;
  }
}