/*
* @package      Style for TM Header Account Block
* @description  This section holds specific style redeclarations for
*               TM Header Account Block
*/

#_desktop_user_info {
  position: relative;
  div.current {
    a {
      text-decoration: none;
      color: $light-color;
      font: $font;
      font-weight: 700;
      position: relative;
      padding-left: 16px;
      i {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        line-height: 14px;
      }
    }
    &.active a, &:hover a {
      color: $brand-primary;
    }
  }
  .header-login-content {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 20px;
    top: 100%;
    z-index: 99;
    #create_header_account_error {
      padding: 8px;
    }
  }
}

@include media-breakpoint-down(sm) {
  #_desktop_user_info {
    div.current {
      a {
        color:$gray-darker;
      }
      &.active a, &:hover a {
        color: $brand-primary;
      }
    }
    .header-login-content {
      right: auto;
      left: 0;
      width: 290px;
    }
  }
}

/*
* @section      Style for login wrapper
* @description  This section holds specific style redeclarations for
*               login content wrapper
*/

.header-login-content {
  padding: 40px;
  margin: 0;
  background: $light-color;
  @include box-shadow-custom();
  color: $gray-darker;
  @include media-breakpoint-down(sm) {
    padding: 20px;
  }
  label, .label {
    font-family: $font-family-primary;
    font-weight: 600;
  }
  li {
    margin: 0;
    padding: 0;
    &.user-data {
      overflow: hidden;
      img {
        float: left;
        margin-bottom: 18px;
        margin-right: 20px;
        width: 50%;
        display: block;
        @include media-breakpoint-down(sm) {
          margin: 0 auto 18px;
          float: none;
        }
      }
      p {
        span {
          font-size: 20px;
          line-height: 30px;
          display: block;
          white-space: nowrap;
        }
      }
    }
    ul {
      margin: 0;
      li {
        display: block;
        a {
          font: $font-primary;
          i {
            display: none;
          }
        }
      }
    }
    &.onecolumn {
      min-width: 200px;
      li.user-data img {
        float: left;
        margin-right: 10px;
      }
    }
    &.twocolumns {
      min-width: 200px;
      @include clearfix();
      > ul {
        width: 100%;
        float: none;
      }
      @include media-breakpoint-up(sm) {
        min-width: 305px;
        margin-left: -5px;
        margin-right: -5px;
        > ul {
          width: 50%;
          float: left;
          padding: 0 5px;
        }
      }
    }
    .social-login-buttons {
      margin-top: 20px;
      > div {
        text-align: center;
      }
    }
  }
  &:not(.is-logged) > li {
    width: 275px;
  }
  img {
    max-width: 100%;
  }
  .form-group {
    margin-bottom: 14px;
    label {
      margin-bottom: 5px;
      display: block;
      sup {
        color: $brand-danger;
      }
    }
    .radio-inline {
      display: inline-block;
    }
    .form-control {
      height: $input-height;
      font-size: 14px;
      background-position: 98% 12px;
    }
    .form_info {
      color: $brand-danger;
    }
  }
  p {
    margin-bottom: 15px;
    font: $font-primary;
    &.submit {
      margin-top: 20px;
    }
    &.logout {
      margin: 20px 0 0 0;
      overflow: hidden;
      clear: both;
      float: left;
      width: 100%;
    }
  }
  .help-block {
    margin: 0;
    ul {
      margin-bottom: 0;
    }
  }
  .form-control-label {
    padding-top: 0;
    margin-bottom: 10px;
  }
  .create-account-content {
    .account_creation {
      .form-control-valign {
        .radio-inline {
          cursor: pointer;
        }
        label {
          + label {
            margin-left: 20px;
          }
        }
      }
    }
    .row {
      margin: 0 -3px;
      > div {
        padding: 0 3px;
      }
    }
    .social-login-buttons {
      div {
        margin-bottom: 15px;
        &.one-element {
          .btn {
            margin-left: 0;
            font-size: 12px;
            line-height: 1.1;
            span {
              margin: 0;
            }
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #_desktop_user_info div.current a {
    padding: 0;
    i {
      position: static;
      font-size: 24px;
      line-height: 24px;
      transform: translateY(0);
    }
    span {
      display: none;
    }
  }
  .header-login-content {
    &:not(.is-logged)>li {
      width:250px;
    }
  }
}
/*
* @section      Style for social account
*/

$login-facebook: #3b5998;
$login-google: #df4a32;
$login-vk: #3383c1;
.social-login-buttons {
  margin: 0 -4px;
  div {
    margin: 0;
    padding: 5px 4px;
    float: left;
    &.one-element {
      width: 100%;
      .btn span {
        margin-left: 10px;
      }
    }
    &.two-elements {
      width: (100%/2);
      .btn {
        width: auto;
        text-align: center;
        span {
          display: none;
        }
      }
    }
    &.three-elements {
      width: (100%/3);
      .btn {
        width: auto;
        text-align: center;
        span {
          display: none;
        }
      }
    }
    .btn {
      width: 100%;
      padding: 0;
      border-radius: 0;
      span {
        margin-left: 10px;
      }
      &:before {
        display: inline-block;
        font: normal 21px/1em "FontAwesome";
      }
      &.btn-login-facebook {
        color: $login-facebook;
        &:before {
          content: '\f09a';
        }
        &:hover {
          color: darken($login-facebook, 10);
        }
      }
      &.btn-login-google {
        color: $login-google;
        &:before {
          content: '\f1a0';
        }
        &:hover {
          color: darken($login-google, 10);
        }
      }
      &.btn-login-vk {
        color: $login-vk;
        &:before {
          content: '\f189';
        }
        &:hover {
          color: darken($login-vk, 10);
        }
      }
    }
  }
}

/*
* @section      Style for left and right sidebars
* @description  This section holds specific style redeclarations for
*               left and right sidebars
*/

.tmha-sidebar-left, .tmha-sidebar-right {
  background: $light-color;
  @include box-shadow-custom();
  height: 100%;
  position: fixed;
  transition: all 0.3s ease;
  top: 0;
  z-index: 99999;
  overflow: auto;
  max-height: 100%;
  width: 400px;
  .header-login-content {
    li {
      &.twocolumns {
        min-width: inherit;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    width: 300px;
  }
}

.tmha-sidebar-left {
  left: 0;
  transform: translateX(-100%);
}

.tmha-sidebar-right {
  right: 0;
  transform: translateX(100%);
  .tmha-close-btn {
    right: auto;
    left: 19px;
  }
}

.tmha-sidebar-left.active {
  left: 0;
  transform: translateX(0);
}

.tmha-sidebar-right.active {
  right: 0;
  transform: translateX(0);
}

.tmha-close-btn {
  position: absolute;
  top: 15px;
  right: 19px;
  cursor: pointer;
  display: block;
  color: $gray-darker;
  outline: none !important;
  transition: all 0.3s ease;
  transform: scale(1);
  &:before {
    font: normal 18px/1.1 "FontAwesome";
    content: '\f00d';
  }
  &:hover {
    color: $brand-primary;
  }
}

/*
* @section      Style for left and right columns
* @description  This section holds specific style redeclarations for
*               left and right columns
*/

#columns {
  .header-login-content {
    padding: 20px;
    li.user-data {
      p span {
        display: inline-block;
      }
      img {
        float: none;
      }
    }
    &:not(.is-logged) li {
      width: 100%;
    }
  }
  #center_column {
    .social-login-buttons {
      div {
        .btn span {
          @media (min-width: 992px) {
            display: inline-block;
            font-size: 13px;
          }
          @media (min-width: 1200px) {
            font-size: 15px;
          }
        }
      }
    }
  }
}

.hidden {
  display: none;
}

#left-column, #right-column {
  .header-login-content {
    box-shadow: none;
    padding: 0;
  }
}