$icon: '\E313';
$icon-active: '\E316';
$font-menu: 700 12px/18px $font-family-primary;
$font-content: 700 18px/22px $font-family-primary;
$font-content-primary: 600 12px/18px $font-family-primary;

.default-menu {
  > ul {
    padding: 0;
    > li {
      display: inline-block;
      > a,
      > .top-level-menu-li-span {
        display: block;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        font: $font-menu;
        color: $gray-darker;
        letter-spacing: $letter-spacing;
        &.sf-with-ul {
          padding-right: 13px;
          &:before {
            position: absolute;
            @include addFontAwesomeIcon('\f107');
            right: 0;
            top: 2px;
            font-size: 13px;
            line-height: 13px;
            will-change: transform;
            transform-origin: 50% 50%;
            transition: transform .3s;
          }
        }
      }
      &.sfHover > a, &.sfHover > .top-level-menu-li-span, > a:hover, > .top-level-menu-li-span:hover {
        &.sf-with-ul:before {
          transform: rotate(-180deg);
        }
      }

      &:hover > a, &.sfHover > a, &.sfHoverForce > a, > a:hover,
      &:hover > .top-level-menu-li-span, &.sfHover > .top-level-menu-li-span, &.sfHoverForce > .top-level-menu-li-span, > .top-level-menu-li-span:hover {
        color: $brand-primary;
      }
      + li {
        margin-left: 30px;
      }
      &:hover {
        > span.menu-mobile-grover:before {
          color: $gray-darker;
        }
      }

      ul.is-simplemenu, ul.is-simplemenu ul {
        background: $brand-primary;
        > li {
          > a {
            display: block;
            color: $light-color;
            font: $font-content-primary;
            text-transform: uppercase;
            &.sf-with-ul {
              position: relative;
              padding-right: 15px;
              &:before {
                position: absolute;
                @include addFontAwesomeIcon('\f105');
                font-size: 13px;
                line-height: 13px;
                right: 0;
                top: 0;
              }
            }
          }
          + li {
            margin-top: 11px;
          }
          &:hover > a, &.sfHover > a, &.sfHoverForce > a, > a:hover {
            color: $gray-darker;
          }
        }
        @include media-breakpoint-up(md) {
          display: none;
          width: 200px;
          position: absolute;
          z-index: 99;
          padding: 30px;
          @include box-shadow-custom();
        }
      }

      > ul.is-simplemenu {
        @include media-breakpoint-up(md) {
          display: none;
          top: 100%;
          margin-top: 31px;
          left: 0;
          ul {
            top: -30px;
            left: 100%;
            margin-left: 33px;
          }
        }
        @include media-breakpoint-up(xl) {
          margin-top: 46px;
        }
      }
      @include media-breakpoint-down(lg) {
        > a,
        > .top-level-menu-li-span {
          letter-spacing: 0.02em;
        }
        + li {
          margin-left: 15px;
        }
      }
      @include media-breakpoint-down(md) {
        margin-top: 4px;
        > a,
        > .top-level-menu-li-span {
          letter-spacing: 0;
          font-size: 10px;
        }
        + li {
          margin-left: 5px;
        }
      }

      @include media-breakpoint-down(sm) {
        width: 100%;
        float: none;
        position: relative;
      }
    }
  }

  .menu {
    padding: 0;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  li {
    a {
      position: relative;
    }

    &.simple, li {
      position: relative;
    }
  }

  .menu_badge {
    position: absolute;
    top: -2px;
    right: -5px;
    z-index: 2;
    font-size: 10px;
    display: inline-block;
    background: #f00;
    color: #fff;
    padding: 1px 5px 2px 5px;
    line-height: 12px;
    border-radius: 3px;
    margin-left: 10px;
  }

  ul {
    li {
      &:hover {
        > ul, > div {
        }
      }
    }
  }

  .is-megamenu {
    left: 15px;
    right: 15px;
    width: auto;
    padding: 0 15px;
    background: $brand-primary;
    display: none;
    z-index: 7;
    top: 0;
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 100%;
      margin-top: 15px;
      @include box-shadow-custom();
    }
    @include media-breakpoint-up(xl) {
      margin-top: 27px;
    }

    .megamenu-row {
      padding-top: 55px;
      padding-bottom: 70px;
    }
    ul.content {
      padding-left: 35px;
      > li {
        display: inline-block;
        > a {
          font: $font-content;
          color: $light-color;
          text-transform: uppercase;
        }
        > a:hover, &.sfHoverForce > a {
          color: $gray-darker;
        }
        + li {
          margin-top: 50px;
        }
      }
      ul {
        opacity: 1 !important;
        display: block !important;
        margin-top: 20px;
        > li {
          > a {
            font: $font-content-primary;
            color: $light-color;
            text-transform: uppercase;
          }
          > a:hover, &.sfHoverForce > a {
            color: $gray-darker;
          }
          + li {
            margin-top: 11px;
          }
        }
      }
    }
    @include media-breakpoint-down(lg) {
      .megamenu-row {
        padding-top: 35px;
        padding-bottom: 40px;
      }
      ul.content {
        padding-left: 15px;
      }
    }
  }
  .menu-title {
    display: inline-block;
    position: relative;
    color: $gray-darker;
    font: $font-content;
    text-transform: uppercase;
    cursor: pointer;
    padding-right: 25px;
    &:hover, &.active {
      color: $brand-primary;
    }
    &:after {
      @include addMaterialIcon($icon);
      position: absolute;
      font-size: 24px;
      line-height: 24px;
      top: -2px;
      right: 0;
      cursor: pointer;
      z-index: 1;
      transition: transform 0.3s ease-in-out;
      will-change: transform;
      transform-origin: 50% 50%;
    }
    &.active {
      &:after {
        transform: rotate(-180deg);
      }
    }
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  .menu-mobile-grover:before {
    position: absolute;
    @include addMaterialIcon($icon);
    font-size: 22px;
    line-height: 22px;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 1;
    color: $light-color;
    transition: all 0.3s ease-in-out;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
  .menu-mobile-grover.active:before {
    content: $icon-active;
    color: $gray-darker;
  }
  @include media-breakpoint-down(sm) {
    .is-simplemenu {
      li {
        .menu-mobile-grover {
          &:before {
            &:before {
              font-size: 18px;
              line-height: 18px;
            }
          }
        }
        a {
          display: block;
          padding-right: 20px;
        }
      }
    }
    li.simple ul {
      display: none;
    }
    .megamenu-col {
      max-width: 100%;
      flex: 0 0 100%;
      + .megamenu-col {
        margin-top: 20px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    text-align: center;
    ul.menu {
      text-align: left;
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      width: 290px;
      background: $brand-primary;
      @include box-shadow-custom();
      padding: 30px 20px;
      overflow-y: auto;
      max-height: 100vh;
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-track {
        background: $primary-background-lighten;
      }
      &::-webkit-scrollbar-thumb {
        background: $gray;
        transition: all 0.3s;
        &:hover {
          background: darken($brand-primary, 5);
        }
      }
      > li {
        margin-top: 0;
        > a,
        > .top-level-menu-li-span {
          font-size: 14px;
          line-height: 20px;
          color: $light-color;
        }
        &:hover > a, &.sfHover > a, &.sfHoverForce > a, > a:hover,
        &:hover > .top-level-menu-li-span, &.sfHover > .top-level-menu-li-span, &.sfHoverForce > .top-level-menu-li-span, > .top-level-menu-li-span:hover {
          color: $gray-darker;
        }
        + li {
          margin-left: 0;
          margin-top: 10px;
        }
        ul.is-simplemenu, ul.is-simplemenu ul {
          padding: 10px 0 10px 10px;
        }
      }
    }
    .is-megamen {
      left: 0;
      right: 0;
      .megamenu-row {
        padding-top: 20px;
        padding-bottom: 20px;
        ul.content {
          padding-left: 0;
          > li {
            > a {
              font-size: 14px;
              line-height: 20px;
            }
            + li {
              margin-top: 30px;
            }
          }
          ul {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.red {
  background: #f00;
}

.menuvideowrapper {
  clear: both;
  float: none;
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;
  width: 100%;
  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.frontend-map {
  min-height: 200px;
}

/**** Left/Right column menu ****/
.displayLeftColumn_menu, .displayRightColumn_menu {
  li {
    position: relative;
  }
  .simple ul {
    display: none;
    @media only screen and (min-width: 768px) {
      position: absolute;
      top: -1px;
      width: 200px;
      border: 1px solid #ccc;
      background: #fff;
      z-index: 999;
    }
    @media only screen and (max-width: 767px) {
      li {
        border-top: 1px solid #ccc;
        position: relative;
        a {
          display: block;
          padding: 10px 0 10px 15px;
          position: relative;
        }
        li {
          a {
            padding-left: 25px;
          }
        }
      }
    }
  }
  .menu > li {
    border-top: 1px solid #ccc;
    position: relative;
    > a {
      display: block;
      padding: 10px 0;
      position: relative;
    }
    &:first-child {
      border: none;
    }
  }
  span.menu_badge {
    font-size: 10px;
    display: inline-block;
    background: #f00;
    color: #fff;
    padding: 1px 5px 2px 5px;
    line-height: 12px;
    border-radius: 3px;
    margin-left: 10px;
  }
  .simple li a {
    padding: 4px 5px;
    display: block;
  }
  .is-megamenu {
    display: none;
    ul {
      display: block !important;
      opacity: 1 !important;
      &.content {
        > li {
          > a {
            font-weight: bold;
            text-transform: uppercase;
          }
          li {
            padding-left: 5px;
          }
        }
      }
    }
    @media only screen and (min-width: 768px) {
      position: absolute;
      top: 0;
      width: 600px;
      padding: 15px;
      background: #fff;
      border: 1px solid #ccc;
      z-index: 999;
    }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .megamenu-col.col-sm-3 {
        width: 50%;
        float: left;
        &.first-in-line-sm {
          clear: left;
        }
      }
    }
  }
  .menu-mobile-grover {
    &:after {
      position: absolute;
      right: 0;
      top: 12px;
      height: 15px;
      width: 15px;
      line-height: 15px;
      font-size: 15px;
      content: $icon;
      font-family: 'Material Icons';
      z-index: 1;
      cursor: pointer;
    }
    &.active {
      &:after {
        content: $icon-active;
      }
    }
  }
}

.displayLeftColumn_menu li.simple ul {
  right: -200px;
}

.displayRightColumn_menu li.simple ul {
  left: -200px;
}

.displayLeftColumn_menu div.is-megamenu {
  right: -600px;
}

.displayRightColumn_menu div.is-megamenu {
  left: -600px;
}