#tmsearchblock {
  position: relative;
  width: 365px;
  margin-top: 5px;
  #tmsearchbox {
    width: 100%;
    position: relative;
    background: $light-color;
    padding-right: 40px;
    padding-left: 142px;
    height: $input-height;
    label {
      color: $gray-primary;
    }
    &:focus {
      outline: none;
    }
  }

  .btn.button-search {
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    background: transparent;
    padding: 0;
    border: none;
    color: $brand-primary;
    text-align: center;
    span {
      display: none;
    }
    &:before {
      @include addMaterialIcon('\E8B6');
      display: block;
      font-size: 24px;
    }
    &:hover {
      color: $gray-darker;
    }
  }

  .selector {
    position: absolute;
    left: 2px;
    top: 2px;
    select {
      width: 140px;
      @include selector();
      option {
        padding: 5px;
      }
    }
  }

  #tm_search_query {
    display: inline-block;
    border: none;
    background: $light-color;
    padding-left: 10px;
    color: $gray-primary;
    &::-webkit-input-placeholder {
      color: $gray-primary;
    }
    &::-moz-placeholder {
      color: $gray-primary;
    }
    &:-moz-placeholder {
      color: $gray-primary;
    }
    &:-ms-input-placeholder {
      color: $gray-primary;
    }
    &:focus {
      border: none;
    }
  }

  #tmsearch_result {
    position: absolute;
    left: 0;
    top: 100%;
    background: $light-color;
    color: $gray-darker;
    width: 100%;
    z-index: 5;
    margin-top: 5px;
    @include box-shadow-custom();
    max-height: 440px;
    padding: 10px 0;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background: $primary-background-lighten;
    }
    &::-webkit-scrollbar-thumb {
      background: $gray;
      transition: all 0.3s;
      &:hover {
        background: darken($brand-primary, 5);
      }
    }
    .search-page {
      overflow: hidden;
      clear: both;
    }
    .tmsearch-row {
      padding: 10px 5px;
      overflow: hidden;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background: rgba($brand-primary, .2);
      }
      .tmsearch-inner-row {
        position: relative;
        img {
          margin-right: 15px;
          background: $product-background;
          float: left;
        }
      }
    }
    .reference, .quantity, .availability {
      display: inline-block;
      vertical-align: middle;
      margin: 0 15px 0 0;
      font-size: 12px;
      &.availability {
        text-decoration: underline;
      }
      &.quantity {

      }
    }
    .name {
      display: block;
      font: $product-font;
      margin: 5px 0;
      strong {
        font-weight: 600;
      }
    }
    .price {
      font: $price-font;
      color: $price-color;
      &.new-price {
        color: $price-new-color;
      }
    }
    .description-short {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    div > strong {
      font-weight: normal;
    }
    .highlight {
      color: $brand-primary;
    }
    .manufacturer-name, .supplier-name {
      float: right;
      margin-left: 15px;
      display: block;
      font-size: 12px;
      line-height: 14px;
    }

    &.loading {
      opacity: 0.8;
    }

    div.hidden-row, div.hidden-page {
      display: none;
    }
    .pagers {
      text-align: center;
      padding-top: 15px;
      a {
        padding: 3px;
        margin: 0 3px;
        display: inline-block;
        text-decoration: none;
        &:hover, &.active, &:focus {
          outline: none;
        }
        &.active {
          cursor: default;
          pointer-events: none;
          color: $brand-primary;
          text-decoration: underline;
        }
      }
    }
    .navigation {
      text-align: center;
      padding-top: 15px;
      &.top {
        padding-top: 0;
        padding-bottom: 15px;
      }
      > a {
        font-size: 24px;
        padding: 2px 0;
        text-decoration: none;
        &.disabled {
          cursor: default;
        }
        &:hover, &.active, &:focus {
          outline: none;
        }
      }
      .pagers {
        padding-top: 0;
      }
      .count-pages {
        font-size: 16px;
        padding: 5px 10px;
        .current {
          color: $gray-darker;
        }
      }
    }
    .tmsearch-alllink {
      padding-top: 10px;
      text-align: center;
      a {
        display: inline-block;
        position: relative;
        padding-right: 23px;
        &:after {
          position: absolute;
          @include addMaterialIcon('\E5D5');
          font-size: 22px;
          line-height: 22px;
          color: $gray-darker;
          right: 0;
          top: -2px;
          transition: all 0.5s ease-in-out;
          will-change: transform;
        }
        &:hover {
          &:after {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}

/*** Responsive part ***/
@include media-breakpoint-only(md) {
  #tmsearchblock {
    width: 300px;
  }
}

@include media-breakpoint-down(sm) {
  #tmsearchblock {
    width: 100%;
    #tmsearchbox {
      padding-right: 30px;
    }
    .btn.button-search {
      right: 5px;
    }
  }
}

@include media-breakpoint-down(xs) {
  #tmsearchblock {
    #tmsearchbox {
      padding-left: 122px;
    }
    .selector select {
      width: 120px;
    }
  }
}